{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Take Quiz{% endblock %}</h1>
{% endblock %}

{% block head %}
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .quiz-topic label {
      margin-bottom: 20px;
    }

    .quiz-form {
      background-color: #F6F7F8;
      border: 1px solid #D6D9DC;
      border-radius: 3px;
      padding: 50px;
    }

    .quiz-question {
      margin: 40px 0;
      border: 1px solid #D6D9DC;
      border-radius: 3px;
      padding: 10px
    }
    .quiz-question-text {
      font-family: "Helvetica", "Arial", sans-serif;
      font-size: 18px;
      margin-bottom: 20px;
    }

    .quiz-question-options {
      border: none;
    }
    .quiz-question-option {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 5px;
    }
    .option-label {
      margin-left: 10px;
    }

    .button-row button {
      font-size: 16px;
      font-weight: bold;

      color: #FFFFFF;
      background-color: #5995DA;

      border: none;
      border-radius: 3px;

      padding: 10px 40px;
      cursor: pointer;
    }

    .button-row button:hover {
      background-color: #76AEED;
    }

    .button-row button:active {
      background-color: #407FC7;
    }

    .button-row button.danger {
      color: #FFFFFF;
      background-color: red;
      margin: 10px 50px
    }
    .button-row button.danger:hover {
      background-color: darkred;
    }
    .button-row button.danger:active {
      background-color: pink;
    }

  </style>
{% endblock %}

{% block content %}
  <h2>"{{ (quiz and quiz.topic) or '' }}"</h2>
  <form action="" method="post" class="quiz-form">
    {% for qnum, question in enumerate(quiz.questions, 1) %}
      <div class='quiz-question'>
        <h3 class='quiz-question-text'>Question {{ qnum }}</h3>
        <h3 class='quiz-question-text'>{{ question.text }}</h3>
        <fieldset class="quiz-question-options">
          {% for optnum, option in enumerate(question.options) %}
            <div class="quiz-question-option">
              <input type='radio'
                id="{{'question_%s_option_%s_radio' % (qnum, optnum)}}"
                name="{{ 'q%s' % question.id }}"
                value='{{ option.id }}'
                required
              />
              <label for="{{'question_%s_option_%s_radio' % (qnum, optnum)}}" class="option-label">
                {{ option.text }}
              </label>
            </div>
          {% endfor %}
        </fieldset>
      </div>
    {% endfor %}
    <div class='button-row'>
      <button>Submit</button>
    </div>
  </form>
{% endblock %}
