{% extends 'base.html' %}

{% block title %}Groups{% endblock %}

{% block header %}
  {{ render_header([('Groups', "")]) }}
{% endblock %}

{% block content %}
  <ul class="list">
    {% for membership in user_memberships %}
      <a class="list__item-link"
         href="{{ url_for('groups.show_single', group_id=membership.group.id) }}">
        <li class="list__item">
          <div class="list__text-primary">{{ membership.group.name }}</div>
        </li>
      </a>
    {% endfor %}
  </ul>
  <form class="b-form my_md"
        action="{{ url_for('groups.join') }}"
        method="get">
    <div class="b-form__header">Join Group</div>
    <div class="b-form__helper-text">
      You need to know invitation code to join an existing group.
    </div>
    <label class="b-form__label"
      for="group_invitation_code">
      Group Invitation Code
    </label>
    <input class="b-form__input"
      type="text"
      id="group_invitation_code"
      name="invitation_code"
      required
    />
    <button class="button button_action">Submit</button>
  </form>
{% endblock %}
