{% extends 'base.html' %}

{% block title %}{{ data.group.name }}{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_user_groups")),
      (data.group.name, ""),
    ])
  }}
{% endblock %}

{% block content %}
  <h2 class="item-header item-header_main">
    {{ data.group.name }} Group
  </h2>
  <ul class="list">
    <a class="list__item-link"
        href="{{ url_for('chat.index') }}">
      <li class="list__item">Group Chat</li>
    </a>
    <a class="list__item-link"
       href="{{ url_for('quizzes.index') }}">
      <li class="list__item">My Quizzes</li>
    </a>
    <a class="list__item-link"
       href="{{ url_for('tournaments.index') }}">
      <li class="list__item">Group Tournaments</li>
    </a>
  </ul>
{% endblock %}
