{% extends 'base.html' %}

{% block title %}{{ data.group.name }}{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_user_groups")),
      (data.group.name, ""),
    ])
  }}
{% endblock %}

{% block content %}
  <h2 class="item-header item-header_main">
    {{ data.group.name }} Group
  </h2>
  <ul class="list">
    {% for (url, label) in
        [(url_for('chat.index'), "Group Chat"),
         (url_for('quizzes.index'), "Your Quizzes"),
         (url_for('tournaments.index'), "Group Tournaments") ]
    %}
      <li class="list__item">
        <a class="list__linked-content" href="{{ url }}">
          <div class="list__text-primary">
            {{ label }}
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
