{% extends 'base.html' %}

{% block title %}Members - {{g.group.name}}{% endblock %}

{% block content %}
  <h2 class="heading heading--1">Group Members</h2>

  <h3 class="heading heading--2">Members List</h3>
  <table class="table table--full-width my-3">
    <thead>
      <tr>
        <th width="5%">#</th>
        <th width="40%">Name</th>
        <th width="10%">ID</th>
        <th width="25%">Account Created</th>
        <th width="10%">Status</th>
        <th width="10%">Actions</th>
      </tr>
    </thead>
    <tbody id="tableRows"></tbody>
  </table>
{% endblock %}


{% block bottom %}
<script>
  let members = {{ data.members|tojson }};
  let isAdmin = {{ data.is_admin|tojson }};

  document.addEventListener("DOMContentLoaded", () => {
    jsFuncs.renderMembersTableBody(members, isAdmin, "tableRows")
  });
</script>
{% endblock %}
