{% extends 'base.html' %}

{% block title %}{{ group.name }}{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_all")),
      (group.name, ""),
    ])
  }}
{% endblock %}

{% block content %}
  <ul class="list">
    <a class="list__item-link"
        href="{{ url_for('chat.index', group_id=group.id) }}">
      <li class="list__item">Group Chat</li>
    </a>
    <a class="list__item-link"
       href="{{ url_for('quiz.index', group_id=group.id) }}">
      <li class="list__item">My Quizzes</li>
    </a>
    <a class="list__item-link"
       href="{{ url_for('plays.index', group_id=group.id) }}">
      <li class="list__item">My Plays</li>
    </a>
    <a class="list__item-link"
       href="{{ url_for('tournaments.index', group_id=group.id) }}">
      <li class="list__item">Group Tournaments</li>
    </a>
  </ul>
{% endblock %}
