{% extends 'base.html' %}

{% block title %}Tournaments - {{g.group.name}}{% endblock %}

{% block content %}
  <h2 class="heading heading--1">Tournaments</h2>

  {% if data.is_admin %}
    <a class="btn btn--primary"
       href="{{ url_for('tournaments.edit_tournament', tournament_id=0) }}">
      Create Tournament
    </a>
  {% endif %}

  <div class="my-3">
    <div class="tabs mb-2" id="filterTabs"></div>
    <table class="table table--full-width">
      <thead>
        <tr>
          <th width="5%">#</th>
          <th width="50%">Name</th>
          <th width="10%">Active</th>
          <th width="25%">Time Created</th>
          <th width="10%">Actions</th>
        </tr>
      </thead>
      <tbody id="tableRows"></tbody>
    </table>
  </div>
{% endblock %}


{% block bottom %}
<script>
  let filters = {{ data.filters|tojson }};
  let tournaments = {{ data.tournaments|tojson }};
  let isAdmin = {{ data.is_admin|tojson }};

  document.addEventListener("DOMContentLoaded", () => {
    jsFuncs.addFilters(
      filters, 
      "filterTabs", 
      (activeFilter) => jsFuncs.renderTournamentsTableBody(
        activeFilter, tournaments, isAdmin, "tableRows")
    );
  });

</script>
{% endblock %}
