{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Quiz{% endblock %}</h1>
{% endblock %}

{% block head %}
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .quiz-topic label {
      margin-bottom: 20px;
    }

    .quiz-form {
      background-color: #F6F7F8;
      border: 1px solid #D6D9DC;
      border-radius: 3px;
      padding: 50px;
    }

    .quiz-form input[type='text'] {
      background-color: #FFFFFF;
      border: 1px solid #D6D9DC;
      border-radius: 3px;
      padding: 7px;
      font-size: 18px;
      width: 100%;
    }

    .quiz-question {
      margin: 40px 0;
    }
    .quiz-question-text textarea {
      font-family: "Helvetica", "Arial", sans-serif;
      font-size: 18px;

      border: 1px solid #D6D9DC;
      border-radius: 3px;

      width: 100%;
      min-height: 60px;
      margin: 10px 0;
      padding: 7px;
      resize: none;
    }

    .quiz-question-options {
      border: none;
    }
    .quiz-question-option {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
    }
    .option-label {
      flex: 1;
      margin-left: 10px;
    }

    .button-row button {
      font-size: 16px;
      font-weight: bold;

      color: #FFFFFF;
      background-color: #5995DA;

      border: none;
      border-radius: 3px;

      padding: 10px 40px;
      cursor: pointer;
    }

    .button-row button:hover {
      background-color: #76AEED;
    }

    .button-row button:active {
      background-color: #407FC7;
    }

    .button-row button.danger {
      color: #FFFFFF;
      background-color: red;
      margin: 10px 50px
    }
    .button-row button.danger:hover {
      background-color: darkred;
    }
    .button-row button.danger:active {
      background-color: pink;
    }

  </style>
{% endblock %}

{% block content %}
  <form action="" method="post" class="quiz-form">
    <div class="quiz-topic">
      <label for="quiz_topic"><h2>Quiz Topic</h2></label>
      <input name="quiz_topic"
        id="quiz_topic"
        type="text"
        value="{{ (quiz and quiz.topic) or '' }}"
        maxlength="1000"
        required
      />
    </div>
    {% for qnum in range(1, config["QUESTIONS_PER_QUIZ"] + 1) %}
      <div class='quiz-question'>
        <div class='quiz-question-text'>
          <label for="{{'question_%s' % qnum}}"><h3>Question {{ qnum }}</h3></label>
          <textarea
            name="{{'question_%s' % qnum}}"
            id="{{'question_%s' % qnum}}"
            maxlength="1000"
            required>{{ (quiz and quiz.questions[qnum-1].text) or '' }}</textarea>
        </div>
        <fieldset class="quiz-question-options">
          {% for optnum in range(1, config["OPTIONS_PER_QUESTION"] + 1) %}
            <div class="quiz-question-option">
              <input type='radio'
                id="{{'question_%s_option_%s_radio' % (qnum, optnum)}}"
                name="{{'question_%s_answer' % qnum }}"
                value='{{ optnum }}'
                {{ (quiz and quiz.questions[qnum-1].options[optnum-1].is_correct and 'checked') or '' }}
                required
              />
              <label for="{{'question_%s_option_%s_radio' % (qnum, optnum)}}" class='option-label'>
                <input type='text'
                  id="{{'question_%s_option_%s' % (qnum, optnum)}}"
                  name="{{'question_%s_option_%s' % (qnum, optnum)}}"
                  value="{{ (quiz and quiz.questions[qnum-1].options[optnum-1].text) or '' }}"
                  maxlength="200"
                  required
                />
              </label>
            </div>
          {% endfor %}
        </fieldset>
      </div>
    {% endfor %}
    <div class='button-row'>
      <button>Save</button>
    </div>
  </form>
  <hr>
  {% if quiz %}
    <form action="{{ url_for('quiz.delete', quiz_id=quiz.id) }}" method="post">
      <div class='button-row'>
        <button class="danger" onclick="return confirm('Are you sure?');">Delete</button>
      </div>
    </form>
  {% endif %}
{% endblock %}
