{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Your Quizzes{% endblock %}</h1>
  {% if g.user %}
    <h2><a class="action" href="{{ url_for('quiz.create') }}">New</a></h2>
    <hr/>
  {% endif %}
{% endblock %}

{% block content %}
  {% for quiz in your_quizzes %}
    <article class="message">
      <a class="action" href="{{ url_for('quiz.update', quiz_id=quiz.id) }}">
        <h3>{{ quiz.topic }}</h3>
      </a>
      <div class="about">
        {% if quiz.is_finalized %}
          {% if quiz.updated %}
            {{ quiz.updated.strftime('%Y-%m-%d') }}
          {% else %}
            {{ quiz.created.strftime('%Y-%m-%d') }}
          {% endif %}
        {% else %}
        <div class="about">
          <span>Not submitted yet. </span>
          {% if quiz.updated %}
          <span>last updated at {{ quiz.updated.strftime('%Y-%m-%d') }}</span>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
