{% extends 'base.html' %}

{% block title %}Chat - {{ g.group.name }}{% endblock %}

{% block content %}
  <h2 class="heading heading--1">Group Chat</h2>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <a class="btn btn--secondary"
           href="{{ url_for('chat.edit', message_id=0) }}">
          New Message
        </a>
        <div id="message_list"></div>
        <div id="pagination"></div>
      </div>
    </div>
  </div>

  <script>
    const url = "{{ url_for('chat.api_index', page=1) }}";
    document.addEventListener("DOMContentLoaded", () => jsFuncs.loadChat(url));
  </script>
{% endblock %}
