{% macro render_header(items) -%}
  <header class="page-info my-1">
    {% for (text, link) in items %}
      <a class="page-info__item" href="{{ link }}">{{ text }}</a>
    {% endfor %}
  </header>
{%- endmacro %}

<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>{% block title %}{% endblock %} | Quizzz</title>
  <script defer src='/static/js/moment.min.js'></script>
  <script defer src='/static/js/script.js'></script>
  <link rel='stylesheet' href="{{ url_for('static', filename='styles.css') }}"/>
  {% block head %}{% endblock %}
</head>

<body>
<div class="page">
  <header class="page__section page__section_header">
    <div class="page__section-content site-header">
      <a href="{{ url_for('index') }}" class="site-logo">
        <img src="{{ url_for('static', filename='images/logo.svg') }}"
             alt="Website Logo Cat"
             class="site-logo__image"
        />
        <h1 class="site-logo__text">Quizzz</h1>
      </a>
      <nav class="menu">
        {% if g.user %}
          <div class="menu__item menu__item_username">
            {{ g.user.name }}
          </div>
          <a class="menu__item menu__item_link"
             href="{{ url_for('auth.logout') }}">
             Log Out
          </a>
        {% else %}
          <a class="menu__item menu__item_link"
             href="{{ url_for('auth.register') }}">Register</a>
          <a class="menu__item menu__item_link"
             href="{{ url_for('auth.login') }}">Login</a>
        {% endif %}
      </nav>
    </div>
  </header>

  <section class="page__section page__section_main">
    <div class="page__section-content">
      {% block header %}{% endblock %}
      <section class="flash-messages my-3">
        {% for category, message in get_flashed_messages(with_categories=True) %}
          <div class="flash-messages__item flash-messages__item_{{ category }} my-2 py-2 px-2">
            {{ message }}
          </div>
        {% endfor %}
      </section>
      {% block content %}{% endblock %}
    </div>
  </section>

  <footer class="page__section page__section_footer">
    <div class="page__section-content">
      <p>(c) 2020</p>
    </div>
  </footer>
</div>
</body>
</html>
