{% extends 'base.html' %}

{% block title %}Members - {{g.group.name}}{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_user_groups")),
      (g.group.name, url_for("group.show_group_page")),
      ("Members", "")
    ])
  }}
{% endblock %}

{% block content %}
  <h2 class="heading heading_primary">Group Members</h2>

  <h3 class="heading heading_secondary">Members List</h3>
  <table class="table table--full-width my-3">
    <thead>
      <tr>
        <th width="5%">#</th>
        <th width="45%">Name</th>
        <th width="10%">ID</th>
        <th width="25%">Account Created</th>
        <th width="15%">Status</th>
      </tr>
    </thead>
    <tbody id="tableRows"></tbody>
  </table>
{% endblock %}


{% block bottom %}
<script>
  let globalMembers = {{ data.members|tojson }};

  const makeRow = (rowData, num) => {
    const tr = document.createElement("tr");
    tr.className = "table__tr";
    tr.classList.add(((num + 1) % 2) ? "table__tr--odd" : "table__tr--even");

    const td1 = document.createElement("td");
    td1.className = "table__td table__td--centered";
    td1.innerHTML = num + 1;
    tr.append(td1);

    const td2 = document.createElement("td");
    td2.className = "table__td";
    td2.innerHTML = rowData.name;
    tr.append(td2);

    const td3 = document.createElement("td");
    td3.className = "table__td table__td--centered";
    td3.innerHTML = rowData.user_id;
    tr.append(td3);

    const td4 = document.createElement("td");
    td4.className = "table__td table__td--centered";
    const timeSpan = document.createElement("span");
    timeSpan.dataset.timestamp = rowData.time_created;
    timeSpan.dataset.func = "format";
    timeSpan.dataset.format = "MMM D, YYYY [at] h:mm a";
    renderMomentDate(timeSpan); // adds innerHTML to element
    td4.append(timeSpan);
    tr.append(td4);

    const td5 = document.createElement("td");
    td5.className = "table__td table__td--centered";
    td5.innerHTML = rowData.is_admin ? "admin" : "";
    tr.append(td5);

    return tr;
  }

  const renderRows = () => {
    // apply current filter
    let rows = [...globalMembers];

    // sort selected rows
    rows.sort((a,b) => (a.name > b.name) ? 1 : -1);

    // re-render
    const node = document.getElementById("tableRows");
    node.innerHTML = "";
    rows.forEach((r,i) => {
      node.append(makeRow(r,i));
    })
  }

  document.addEventListener("DOMContentLoaded", () => {
    renderRows()
  });

</script>
{% endblock %}
