{% extends 'base.html' %}

{% block title %}
  Remove Member: {{ data.user.name }} from {{ g.group.name }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 paper-sm bg-grey p-2 p-md-4 my-2">
        <div class="form">

          <div class="form__header">
            {{ data.user.name }}
          </div>

          <div class="form__item">
            <div class="form__help">
              Please specify user's status and hit 'save'.<br/>
            </div>
          </div>

          <form action="" method="post">

            {{ form.hidden_tag() }}

            <div class='form__item'>
              {{ form.is_approved() }}
              {{ form.is_approved.label }}
            </div>

            <div class='form__item'>
              <button class="btn btn--secondary btn--block">Save</button>
            </div>

          </form>

          <form action="{{ url_for('groups.delete_member', user_id=data.user.id) }}"
                method="post">
            {{ delete_form.hidden_tag() }}
            <div class='form__item'>
              <button class="btn btn--red btn--block"
                      onclick="return confirm('Are you sure you want to kick {{ data.user.name }} out of this group?');">
                Delete
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
