{% extends 'base.html' %}

{% block title %}
  {% if data.group.id %}Edit Group{% else %}New Group{% endif %}
  - {{ data.group.name }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 paper-sm bg-grey p-2 p-md-4 my-2">
        <div class="form">

          <div class="form__header">
            {{ (data.group.id and "Edit Group") or "New Group" }}
          </div>

          <div class="form__item">
            <div class="form__help">
              Please fill in the form below and hit 'save'.<br/>
            </div>
          </div>

          <form action="" method="post">

            {{ form.hidden_tag() }}

            <div class="form__item">
              <div class="form__label">
                {{ form.name.label }}
              </div>
              {{ form.name(class="form__input") }}
            </div>

            <div class="form__item">
              <div class="form__label">
                {{ form.invitation_code.label }}
              </div>
              {{ form.invitation_code(class="form__input") }}
            </div>

            <div class='form__item'>
              {{ form.confirmation_needed() }}
              {{ form.confirmation_needed.label }}
            </div>

            <div class='form__item'>
              <button class="btn btn--secondary btn--block">Save</button>
            </div>

          </form>

          {% if data.group.id %}
            <form action="{{ url_for('groups.delete', group_id=data.group.id) }}"
                  method="post">
              {{ delete_form.hidden_tag() }}
              <div class='form__item'>
                <button class="btn btn--red btn--block"
                        onclick="return confirm('Are you sure?');">
                  Delete
                </button>
              </div>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
