{% extends 'base.html' %}

{% block title %}Groups{% endblock %}

{% block content %}
  <h2 class="heading heading--1">
    Groups
  </h2>

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8">
        <h3 class="heading heading--2">
          Your Groups
        </h3>
        <div class="paper-md bg-grey p-2 px-sm-4 mb-4">
          <ul class="groups">
            {% for group in data.user_groups %}
              <li class="groups__li">
                <a class="groups__li-link groups__li-link--with-actions" href="{{ group.view_url }}">
                  {{ group.name }}
                </a>
                <div class="groups__li-actions">
                  {% if group.is_admin %}
                    <a class="btn btn--grey btn--rounded" href="{{ group.edit_url }}">
                      Edit
                    </a>
                  {% else %}
                    <form action="{{ group.leave_url }}" method="post">
                      {{ leave_form.hidden_tag() }}
                      <input class="btn btn--red btn--rounded"
                        type="submit" value="Leave"
                        onclick="return confirm('Are you sure you want to leave this group?');" />
                    </form>
                  {% endif %}
                </div>
              </li>
            {% else %}
              <p>You are not a member of any group yet.</p>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-12 col-sm-offset-1 col-sm-3">
        <h3 class="heading heading--2">
          Manage Groups
        </h3>
        {% if data.has_edit_permissions %}
          <div class="paper-md bg-grey p-2 px-sm-4 mb-4">
            <div class="form">
              <div class="form__header">Create</div>
              <div class="form__item">
                <div class="form__help">
                  Create new group.
                </div>
              </div>
              <div class="form__item">
                <a class="btn btn--primary btn--block"
                   href="{{ url_for('groups.edit', group_id=0) }}">Create</a>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="paper-md bg-grey p-2 px-sm-4">
          <form class="form"
                action="{{ url_for('groups.join') }}"
                method="post">

            {{ form.hidden_tag() }}

            <div class="form__header">Join</div>
            <div class="form__item">
              <div class="form__help">
                To join an existing group, enter group name and click submit. 
                Enter password if the group is password-protected.
              </div>
            </div>
            <div class="form__item">
              <div class="form__label">
                {{ form.group_name.label }}
              </div>
              {{ form.group_name(class="form__input") }}
            </div>
            <div class="form__item">
              {{ form.password.label(class="form__label") }}
              {{ form.password(class="form__input") }}
            </div>
            <div class="form__item">
              <button class="btn btn--primary btn--block">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
