{% extends 'base.html' %}

{% block title %}
  Chat: {% if data.msg %}Edit Message{% else %}New Message{% endif %}
  - {{ g.group.name }}
{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_user_groups")),
      (g.group.name, url_for("groups.show_group_page")),
      ("Chat", url_for("chat.index")),
      ("Message", "")
    ])
  }}
{% endblock %}

{% block content %}
  <form method="post" class="b-form">

    <div class="form__header">
      {% if data.msg %}
        Edit Your Message
      {% else %}
        Create New Message
      {% endif %}
    </div>

    <div class="form__item">
      <div class="form__help">
        Please enter your message below.
      </div>
    </div>

    <div class="form__item">
      <textarea class="form__textarea form__textarea_md"
        name="text"
        id="message_text"
        required
      >{{ request.form['text'] or (data.msg and data.msg.text) }}</textarea>
    </div>

    <div class="form__item">
      <input class="button button_action"
        type="submit"
        value="Submit"
      />
    </div>
  </form>
  {% if data.msg %}
    <form class="form"
          action="{{ url_for('chat.delete', id=data.msg.id) }}"
          method="post">
      <div class="form__item">
        <input class="button button_danger"
          type="submit"
          value="Delete"
          onclick="return confirm('Are you sure?');"
        />
      </div>
    </form>
  {% endif %}
{% endblock %}
