{% extends 'base.html' %}

{% block title %}Chat - {{ g.group.name }}{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_user_groups")),
      (g.group.name, url_for("groups.show_group_page")),
      ("Chat", "")
    ])
  }}
{% endblock %}

{% block content %}
  <a href="{{ url_for('chat.create') }}">
    <button class="button button_action my_md">New Message</button>
  </a>
  {% for msg in data.messages %}
    <article class="message {% if msg.is_own %}message_own{% endif %}">
      <div class="message__details">
        <div class="message__details-item">{{ msg.user_name }}</div>
        <div class="message__details-item">{{ msg.time_created.strftime('%Y-%m-%d %H:%M') }}</div>
        {% if msg.time_updated %}
          <div class="message__details-item">
            edited at {{ msg.time_updated.strftime('%Y-%m-%d %H:%M') }}
          </div>
        {% endif %}
        {% if msg.is_own %}
          <a class="message__details-item"
             href="{{ url_for('chat.update', id=msg.id) }}">
             Edit
          </a>
        {% endif %}
      </div>
      <p class="message__text">{{ msg.text }}</p>
    </article>
  {% endfor %}
{% endblock %}
