{% extends 'base.html' %}
{% from 'macros.html' import render_chat_message %}

{% block title %}Chat - {{ g.group.name }}{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_user_groups")),
      (g.group.name, url_for("group.show_group_page")),
      ("Chat", "")
    ])
  }}
{% endblock %}

{% block content %}
  <h2 class="heading heading_primary">Group Chat</h2>

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
        <a href="{{ url_for('chat.edit', message_id=0) }}">
          New Message
        </a>
        {% for msg in data.messages %}
          {{ render_chat_message(msg) }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
