/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-offset-0 {
  margin-left: 0;
}

.col-1 {
  flex-basis: 8.3333333333%;
}

.col-offset-1 {
  margin-left: 8.3333333333%;
}

.col-2 {
  flex-basis: 16.6666666667%;
}

.col-offset-2 {
  margin-left: 16.6666666667%;
}

.col-3 {
  flex-basis: 25%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-4 {
  flex-basis: 33.3333333333%;
}

.col-offset-4 {
  margin-left: 33.3333333333%;
}

.col-5 {
  flex-basis: 41.6666666667%;
}

.col-offset-5 {
  margin-left: 41.6666666667%;
}

.col-6 {
  flex-basis: 50%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-7 {
  flex-basis: 58.3333333333%;
}

.col-offset-7 {
  margin-left: 58.3333333333%;
}

.col-8 {
  flex-basis: 66.6666666667%;
}

.col-offset-8 {
  margin-left: 66.6666666667%;
}

.col-9 {
  flex-basis: 75%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-10 {
  flex-basis: 83.3333333333%;
}

.col-offset-10 {
  margin-left: 83.3333333333%;
}

.col-11 {
  flex-basis: 91.6666666667%;
}

.col-offset-11 {
  margin-left: 91.6666666667%;
}

.col-12 {
  flex-basis: 100%;
}

.col-offset-12 {
  margin-left: 100%;
}

@media screen and (max-width: -1px) {
  .hidden-down {
    display: none !important;
  }
}
.hidden-up {
  display: none !important;
}

.col-xs-offset-0 {
  margin-left: 0;
}

.col-xs-1 {
  flex-basis: 8.3333333333%;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  flex-basis: 16.6666666667%;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  flex-basis: 25%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  flex-basis: 33.3333333333%;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  flex-basis: 41.6666666667%;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  flex-basis: 50%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  flex-basis: 58.3333333333%;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  flex-basis: 66.6666666667%;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  flex-basis: 75%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  flex-basis: 83.3333333333%;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  flex-basis: 91.6666666667%;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  flex-basis: 100%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media screen and (max-width: -1px) {
  .hidden-xs-down {
    display: none !important;
  }
}
.hidden-xs-up {
  display: none !important;
}

@media screen and (min-width: 600px) {
  .col-sm-offset-0 {
    margin-left: 0;
  }

  .col-sm-1 {
    flex-basis: 8.3333333333%;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    flex-basis: 16.6666666667%;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    flex-basis: 25%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    flex-basis: 33.3333333333%;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    flex-basis: 41.6666666667%;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    flex-basis: 50%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    flex-basis: 58.3333333333%;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    flex-basis: 66.6666666667%;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    flex-basis: 75%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    flex-basis: 83.3333333333%;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    flex-basis: 91.6666666667%;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    flex-basis: 100%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (max-width: 599px) {
  .hidden-sm-down {
    display: none !important;
  }
}
@media screen and (min-width: 600px) {
  .hidden-sm-up {
    display: none !important;
  }
}
@media screen and (min-width: 960px) {
  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-1 {
    flex-basis: 8.3333333333%;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    flex-basis: 16.6666666667%;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    flex-basis: 25%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    flex-basis: 33.3333333333%;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    flex-basis: 41.6666666667%;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    flex-basis: 50%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    flex-basis: 58.3333333333%;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    flex-basis: 66.6666666667%;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    flex-basis: 75%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    flex-basis: 83.3333333333%;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    flex-basis: 91.6666666667%;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    flex-basis: 100%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (max-width: 959px) {
  .hidden-md-down {
    display: none !important;
  }
}
@media screen and (min-width: 960px) {
  .hidden-md-up {
    display: none !important;
  }
}
@media screen and (min-width: 1200px) {
  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-1 {
    flex-basis: 8.3333333333%;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    flex-basis: 16.6666666667%;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    flex-basis: 25%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    flex-basis: 33.3333333333%;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    flex-basis: 41.6666666667%;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    flex-basis: 50%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    flex-basis: 58.3333333333%;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    flex-basis: 66.6666666667%;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    flex-basis: 75%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    flex-basis: 83.3333333333%;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    flex-basis: 91.6666666667%;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    flex-basis: 100%;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}
@media screen and (min-width: 1200px) {
  .hidden-lg-up {
    display: none !important;
  }
}
/* Page Layout */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page__section {
  padding: 5px;
}
.page__section_header {
  background-color: #eee;
  border-bottom: 2px solid #ccc;
}
.page__section_main {
  flex: 1;
}
.page__section_footer {
  background-color: #eee;
  border-top: 2px solid #ccc;
  color: black;
}
.page__section-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
  display: flex;
  align-items: center;
  color: #352000;
  font-variant: small-caps;
  text-decoration: none;
  outline: none;
}
.site-logo__image {
  height: 50px;
}
.site-logo__text {
  padding: 5px;
  text-shadow: 1px 1px 2px #352000;
  font-weight: bold;
  font-size: 36px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}
.menu__item {
  margin-left: 20px;
}
.menu__item_link {
  color: #05f;
  font-weight: bold;
  text-decoration: none;
  outline: none;
}
.menu__item_link:hover {
  color: #003399;
}
.menu__item_username {
  background-color: #05f;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
}

/* Page Info (Site Navigation) */
.page-info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border-bottom: 2px solid #ccc;
}
.page-info__item {
  display: block;
  background-color: #683f00;
  text-shadow: 1px 1px 2px black;
  color: white;
  font-weight: bold;
  border-radius: 0 1em 1em 0;
  text-decoration: none;
  outline: none;
  padding: 2px 15px;
  margin: 0px 10px 10px 0px;
}
.page-info__item:hover {
  background-color: #9b5e00;
}

.flash-messages__item {
  font-weight: bold;
}
.flash-messages__item_message {
  background-color: beige;
  color: black;
}
.flash-messages__item_error {
  background-color: #faa;
  color: darkred;
}
.flash-messages__item_success {
  background-color: #daffda;
  color: darkgreen;
}

.paper {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 10px #888;
}

.paper-xs {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 10px #888;
}

@media screen and (min-width: 600px) {
  .paper-sm {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 10px #888;
  }
}
@media screen and (min-width: 960px) {
  .paper-md {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 10px #888;
  }
}
@media screen and (min-width: 1200px) {
  .paper-lg {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 10px #888;
  }
}
/* Button */
.button {
  display: block;
  text-decoration: none;
  outline: none;
  padding: 10px 40px;
  font-weight: bold;
  min-width: 100px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.button::-moz-focus-inner {
  border: 0;
}
.button_action {
  color: white;
  background-color: #5995DA;
}
.button_action:hover {
  background-color: #76AEED;
}
.button_action:active {
  background-color: #407FC7;
}
.button_danger {
  color: white;
  background-color: red;
}
.button_danger:hover {
  background-color: #faa;
}
.button_danger:active {
  background-color: darkred;
}

/* List */
.list {
  list-style: none;
}
.list__item {
  margin: 1em 0;
  background-color: #eee;
  border-left: 5px solid #ccc;
}
.list__item_active {
  background-color: #daffda;
  border-left: 5px solid darkgreen;
}
.list__linked-content {
  display: block;
  padding: 1em;
  text-decoration: none;
  outline: none;
  color: inherit;
}
.list__linked-content:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.list__linked-content:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.list__linked-content:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.list__text-primary {
  font-size: 1.2em;
  color: #352000;
  font-variant: small-caps;
  font-weight: bold;
}
.list__text-secondary {
  font-size: 1em;
  color: #444;
}
.list__extras {
  padding: 0.2em 1em;
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1px dashed #444;
}

.tabs {
  display: flex;
  justify-content: flex-end;
}
.tabs__button {
  display: block;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  padding: 6px 16px;
  text-decoration: none;
  outline: none;
  color: blue;
  background-color: inherit;
}
.tabs__button:hover {
  background-color: darkblue;
  color: white;
}
.tabs__button_active {
  background-color: #55d;
  color: white;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination-button {
  text-decoration: none;
  outline: none;
  margin: 5px;
  padding: 5px;
  color: darkblue;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
.pagination-button:hover {
  background-color: darkblue;
  color: white;
}

/* Message Board */
.message {
  margin: 1em 0;
  background-color: #eee;
  padding: 2px;
  box-shadow: 3px 3px 5px #ccc;
}
.message_own {
  background-color: #daffda;
}
.message__details {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 0.8em;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  color: #444;
}
.message__details-item {
  margin-right: 2em;
  margin-left: 5px;
}
.message__text {
  padding: 0.5em 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: #f6f6f6;
}
.message__author {
  width: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}
.message__edit {
  font-weight: bold;
  font-size: 1em;
  padding: 0 10px;
  text-decoration: none;
}
.message__edited {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 0.8em;
  font-style: italic;
  margin: 0;
  padding-right: 1em;
  text-align: right;
  color: #444;
  background-color: #f6f6f6;
}

/* Generic Form */
.form {
  font-family: "Helvetica", "Arial", sans-serif;
}
.form__header {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.8;
  border-bottom: 2px solid #ccc;
  text-align: center;
}
.form__help {
  color: #444;
}
.form__item {
  margin: 1em 0;
}
.form__label {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  line-height: 1.5;
}
.form__input-help {
  font-size: 0.8em;
  color: #444;
  margin: 0.25em 0.1em;
}
.form__errors {
  list-style: none;
  font-size: 0.9em;
  font-weight: bold;
}
.form__error {
  color: red;
  border-left: 3px solid red;
  background-color: #ffe6e6;
  padding: 0.5em;
}
.form__input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.5em;
  margin: 0.25em 0;
  width: 100%;
}
.form__textarea {
  resize: none;
  height: 60px;
  padding: 0.5em;
  margin: 0.25em 0;
  width: 100%;
}
.form__textarea_sm {
  height: 150px;
}
.form__textarea_lg {
  height: 250px;
}
.form__textarea_md {
  height: 150px;
}
.form__input:valid, .form__textarea:valid {
  background-color: #daffda;
}
.form__input:invalid, .form__textarea:invalid {
  box-shadow: none;
}
.form__input:focus, .form__textarea:focus {
  box-shadow: 0 0 10px #ccc;
}
.form__input:focus:invalid, .form__textarea:focus:invalid {
  box-shadow: 0 0 10px #faa;
}

/* Create new quiz form */
.quiz-form {
  font-family: "Helvetica", "Arial", sans-serif;
}
.quiz-form__header {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.8;
  border-bottom: 2px solid #ccc;
}
.quiz-form__help {
  color: #444;
}
.quiz-form__item {
  margin: 1em 0;
}
.quiz-form__item_outlined {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 1em;
  background-color: #eee;
}
.quiz-form__item_correct {
  background-color: rgba(0, 255, 0, 0.15);
}
.quiz-form__item_wrong {
  background-color: rgba(255, 0, 0, 0.15);
}
.quiz-form__row {
  margin: 0.5em 0;
}
.quiz-form__label {
  font-size: 1em;
  font-weight: bold;
}
.quiz-form__input {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 7px;
  font-size: 18px;
  width: 100%;
}
.quiz-form__textarea {
  resize: none;
  padding: 7px;
  font-size: 18px;
  min-height: 60px;
  width: 100%;
}
.quiz-form__fieldset {
  border: none;
}
.quiz-form__fieldset-item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.quiz-form__fieldset-item-input {
  flex: 1;
  padding-left: 10px;
}
.quiz-form__cell {
  padding-right: 0.5em;
}

.correct {
  color: green;
  font-weight: bold;
}

.wrong {
  color: red;
  font-weight: bold;
}

/* Generic Table */
.table {
  border-collapse: separate;
  border-spacing: 1px;
  border: 1px solid #ccc;
}
.table--full-width {
  width: 100%;
}
.table thead tr {
  background-color: #444;
  color: #eee;
}
.table thead th {
  padding: 4px 10px;
  text-align: center;
  font-weight: bold;
}
.table__tr--odd {
  background-color: #eee;
}
.table__tr--even {
  background-color: white;
}
.table__td {
  padding: 4px 10px;
}
.table__td--centered {
  text-align: center;
}

/* Play Results */
.results-table {
  width: 100%;
  border-collapse: collapse;
}
.results-table__header-row {
  background-color: #352000;
  color: white;
  font-variant: small-caps;
  text-align: center;
}
.results-table__header-cell {
  padding: 2px 10px;
  border: 2px solid #9b5e00;
}
.results-table__cell {
  padding: 2px 10px;
  border: 1px solid #9b5e00;
}
.results-table__cell-link {
  text-decoration: none;
  color: #352000;
}
.results-table__cell-link:hover {
  color: #407FC7;
}
.results-table__row_odd {
  background-color: #f6f6f6;
}
.results-table__row_even {
  background-color: #eee;
}
.results-table__row_own {
  font-weight: bold;
}

/* ADMIN ACTIONS */
.admin-actions {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px dashed red;
  border-bottom: 1px dashed red;
  background-color: #ffe6e6;
  margin: 1em 0;
}
.admin-actions__item {
  display: block;
  margin: 5px;
}

/* Headings */
.heading {
  font-weight: bold;
  font-family: "Helvetica", "Arial", sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #352000;
}
.heading_primary {
  font-size: 2em;
}
.heading_secondary {
  font-size: 1.4em;
}

.logo-home-page {
  width: 500px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.bg-grey {
  background-color: #f6f6f6;
}

/* Spacing */
.m-1 {
  margin: 5px;
}

.mx-1 {
  margin-left: 5px;
  margin-right: 5px;
}

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mb-1 {
  margin-bottom: 5px;
}

.p-1 {
  padding: 5px;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pl-1 {
  padding-left: 5px;
}

.pr-1 {
  padding-right: 5px;
}

.m-2 {
  margin: 10px;
}

.mx-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 10px;
}

.p-2 {
  padding: 10px;
}

.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pl-2 {
  padding-left: 10px;
}

.pr-2 {
  padding-right: 10px;
}

.m-3 {
  margin: 1em;
}

.mx-3 {
  margin-left: 1em;
  margin-right: 1em;
}

.my-3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mb-3 {
  margin-bottom: 1em;
}

.p-3 {
  padding: 1em;
}

.px-3 {
  padding-left: 1em;
  padding-right: 1em;
}

.py-3 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.pl-3 {
  padding-left: 1em;
}

.pr-3 {
  padding-right: 1em;
}

.m-4 {
  margin: 1.5em;
}

.mx-4 {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.my-4 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.mb-4 {
  margin-bottom: 1.5em;
}

.p-4 {
  padding: 1.5em;
}

.px-4 {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.py-4 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.pl-4 {
  padding-left: 1.5em;
}

.pr-4 {
  padding-right: 1.5em;
}

.m-xs-1 {
  margin: 5px;
}

.mx-xs-1 {
  margin-left: 5px;
  margin-right: 5px;
}

.my-xs-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mb-xs-1 {
  margin-bottom: 5px;
}

.p-xs-1 {
  padding: 5px;
}

.px-xs-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.py-xs-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pl-xs-1 {
  padding-left: 5px;
}

.pr-xs-1 {
  padding-right: 5px;
}

.m-xs-2 {
  margin: 10px;
}

.mx-xs-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.my-xs-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mb-xs-2 {
  margin-bottom: 10px;
}

.p-xs-2 {
  padding: 10px;
}

.px-xs-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-xs-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pl-xs-2 {
  padding-left: 10px;
}

.pr-xs-2 {
  padding-right: 10px;
}

.m-xs-3 {
  margin: 1em;
}

.mx-xs-3 {
  margin-left: 1em;
  margin-right: 1em;
}

.my-xs-3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mb-xs-3 {
  margin-bottom: 1em;
}

.p-xs-3 {
  padding: 1em;
}

.px-xs-3 {
  padding-left: 1em;
  padding-right: 1em;
}

.py-xs-3 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.pl-xs-3 {
  padding-left: 1em;
}

.pr-xs-3 {
  padding-right: 1em;
}

.m-xs-4 {
  margin: 1.5em;
}

.mx-xs-4 {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.my-xs-4 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.mb-xs-4 {
  margin-bottom: 1.5em;
}

.p-xs-4 {
  padding: 1.5em;
}

.px-xs-4 {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.py-xs-4 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.pl-xs-4 {
  padding-left: 1.5em;
}

.pr-xs-4 {
  padding-right: 1.5em;
}

@media screen and (min-width: 600px) {
  .m-sm-1 {
    margin: 5px;
  }

  .mx-sm-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .my-sm-1 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .mb-sm-1 {
    margin-bottom: 5px;
  }

  .p-sm-1 {
    padding: 5px;
  }

  .px-sm-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .py-sm-1 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .pl-sm-1 {
    padding-left: 5px;
  }

  .pr-sm-1 {
    padding-right: 5px;
  }

  .m-sm-2 {
    margin: 10px;
  }

  .mx-sm-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .my-sm-2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mb-sm-2 {
    margin-bottom: 10px;
  }

  .p-sm-2 {
    padding: 10px;
  }

  .px-sm-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .py-sm-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .pl-sm-2 {
    padding-left: 10px;
  }

  .pr-sm-2 {
    padding-right: 10px;
  }

  .m-sm-3 {
    margin: 1em;
  }

  .mx-sm-3 {
    margin-left: 1em;
    margin-right: 1em;
  }

  .my-sm-3 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .mb-sm-3 {
    margin-bottom: 1em;
  }

  .p-sm-3 {
    padding: 1em;
  }

  .px-sm-3 {
    padding-left: 1em;
    padding-right: 1em;
  }

  .py-sm-3 {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .pl-sm-3 {
    padding-left: 1em;
  }

  .pr-sm-3 {
    padding-right: 1em;
  }

  .m-sm-4 {
    margin: 1.5em;
  }

  .mx-sm-4 {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  .my-sm-4 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .mb-sm-4 {
    margin-bottom: 1.5em;
  }

  .p-sm-4 {
    padding: 1.5em;
  }

  .px-sm-4 {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .py-sm-4 {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .pl-sm-4 {
    padding-left: 1.5em;
  }

  .pr-sm-4 {
    padding-right: 1.5em;
  }
}
@media screen and (min-width: 960px) {
  .m-md-1 {
    margin: 5px;
  }

  .mx-md-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .my-md-1 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .mb-md-1 {
    margin-bottom: 5px;
  }

  .p-md-1 {
    padding: 5px;
  }

  .px-md-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .py-md-1 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .pl-md-1 {
    padding-left: 5px;
  }

  .pr-md-1 {
    padding-right: 5px;
  }

  .m-md-2 {
    margin: 10px;
  }

  .mx-md-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .my-md-2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mb-md-2 {
    margin-bottom: 10px;
  }

  .p-md-2 {
    padding: 10px;
  }

  .px-md-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .py-md-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .pl-md-2 {
    padding-left: 10px;
  }

  .pr-md-2 {
    padding-right: 10px;
  }

  .m-md-3 {
    margin: 1em;
  }

  .mx-md-3 {
    margin-left: 1em;
    margin-right: 1em;
  }

  .my-md-3 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .mb-md-3 {
    margin-bottom: 1em;
  }

  .p-md-3 {
    padding: 1em;
  }

  .px-md-3 {
    padding-left: 1em;
    padding-right: 1em;
  }

  .py-md-3 {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .pl-md-3 {
    padding-left: 1em;
  }

  .pr-md-3 {
    padding-right: 1em;
  }

  .m-md-4 {
    margin: 1.5em;
  }

  .mx-md-4 {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  .my-md-4 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .mb-md-4 {
    margin-bottom: 1.5em;
  }

  .p-md-4 {
    padding: 1.5em;
  }

  .px-md-4 {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .py-md-4 {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .pl-md-4 {
    padding-left: 1.5em;
  }

  .pr-md-4 {
    padding-right: 1.5em;
  }
}
@media screen and (min-width: 1200px) {
  .m-lg-1 {
    margin: 5px;
  }

  .mx-lg-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .my-lg-1 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .mb-lg-1 {
    margin-bottom: 5px;
  }

  .p-lg-1 {
    padding: 5px;
  }

  .px-lg-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .py-lg-1 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .pl-lg-1 {
    padding-left: 5px;
  }

  .pr-lg-1 {
    padding-right: 5px;
  }

  .m-lg-2 {
    margin: 10px;
  }

  .mx-lg-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .my-lg-2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mb-lg-2 {
    margin-bottom: 10px;
  }

  .p-lg-2 {
    padding: 10px;
  }

  .px-lg-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .py-lg-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .pl-lg-2 {
    padding-left: 10px;
  }

  .pr-lg-2 {
    padding-right: 10px;
  }

  .m-lg-3 {
    margin: 1em;
  }

  .mx-lg-3 {
    margin-left: 1em;
    margin-right: 1em;
  }

  .my-lg-3 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .mb-lg-3 {
    margin-bottom: 1em;
  }

  .p-lg-3 {
    padding: 1em;
  }

  .px-lg-3 {
    padding-left: 1em;
    padding-right: 1em;
  }

  .py-lg-3 {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .pl-lg-3 {
    padding-left: 1em;
  }

  .pr-lg-3 {
    padding-right: 1em;
  }

  .m-lg-4 {
    margin: 1.5em;
  }

  .mx-lg-4 {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  .my-lg-4 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .mb-lg-4 {
    margin-bottom: 1.5em;
  }

  .p-lg-4 {
    padding: 1.5em;
  }

  .px-lg-4 {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .py-lg-4 {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .pl-lg-4 {
    padding-left: 1.5em;
  }

  .pr-lg-4 {
    padding-right: 1.5em;
  }
}

/*# sourceMappingURL=styles.css.map */
