{% extends 'base.html' %}

{% block title %}
  {% if data.quiz_id %}Edit Quiz{% else %}New Quiz{% endif %}
  - {{ g.group.name }}
{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_user_groups")),
      (g.group.name, url_for("groups.show_group_page")),
      ("My Quizzes", url_for("quizzes.index")),
      ((data.quiz_id and "Edit Quiz") or "New Quiz", "")
    ])
  }}
{% endblock %}

{% block content %}
  <div class="paper paper_sm-disabled">
    <div class="quiz-form">

      <div class="quiz-form__header">
        Create New Quiz
      </div>

      <div class="quiz-form__item">
        <div class="quiz-form__help">
          Please fill in the form below and hit 'save'.<br/>
          A saved quiz will remain available for updates until you 'submit' it for a group competition.
        </div>
      </div>

      <form action="" method="post">

        {{ form.hidden_tag() }}

        <div class="quiz-form__item">
          <div class="quiz-form__row">
            <div class="quiz-form__label">
              {{ form.topic.label() }}
            </div>
          </div>
          <div class="quiz-form__row">
            {{ form.topic(class="quiz-form__input", disabled=data.read_only) }}
          </div>
        </div>

        {% for question in form.questions %}
          {% set outer_loop = loop %}
          <div class="quiz-form__item">
            <div class="quiz-form__row">
              <div class="quiz-form__label">
                <label for="{{'question_%s' % qnum}}">Question {{ loop.index }}</label>
              </div>
            </div>
            <div class="quiz-form__row">
              {{ question.form.text(class="quiz-form__textarea", disabled=data.read_only) }}
            </div>
            <div class="quiz-form__row">
              <fieldset class="quiz-form__fieldset" {{ (data.read_only and 'disabled') or '' }}>
                {% for subfield in question.form.answer %}
                  <div class="quiz-form__fieldset-item">
                    {{ subfield(required=True) }}
                    <label class="quiz-form__fieldset-item-input"
                           for="{{ 'questions-%s-answer-%s' % (outer_loop.index0, loop.index0) }}">
                       {{ question.form.options[loop.index0].form.text(
                            class="quiz-form__input", disabled=data.read_only) }}
                    </label>
                  </div>
                {% endfor %}
              </fieldset>
            </div>
          </div>
        {% endfor %}

        <div class="quiz-form__item">
          <div class="quiz-form__row">
            <div class="quiz-form__label">
              {{ form.is_finalized.label }}
            </div>
          </div>
          <div class="quiz-form__row">
            <fieldset class="quiz-form__fieldset" >
              {% for subfield in form.is_finalized %}
                <div class="quiz-form__fieldset-item">
                  {{ subfield(required=True) }}
                  {{ subfield.label(class="quiz-form__fieldset-item-input") }}
                </div>
              {% endfor %}
            </fieldset>
          </div>
        </div>

        {% if not data.read_only %}
          <div class='quiz-form__item'>
            <button class="button button_action">Save</button>
          </div>
        {% endif %}

      </form>

      {% if data.quiz_id and not data.read_only %}
        <form action="{{ url_for('quizzes.delete', quiz_id=data.quiz_id) }}" method="post">
          {{ delete_form.hidden_tag() }}
          <div class='quiz-form__item'>
            <button class="button button_danger"
                    onclick="return confirm('Are you sure?');">
              Delete
            </button>
          </div>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
