{% extends 'base.html' %}

{% block title %}My Quizzes - {{g.group.name}}{% endblock %}

{% block content %}
  <h2 class="heading heading--1">Your Quizzes</h2>

  <a class="btn btn--primary"
     href="{{ url_for('quizzes.edit', quiz_id=0) }}">
    Create Quiz
  </a>

  <div class="my-3">
    <div class="tabs mb-2" id="filterTabs"></div>
    <table class="table table--full-width">
      <thead>
        <tr>
          <th width="5%">#</th>
          <th width="50%">Name</th>
          <th width="10%">Submitted</th>
          <th width="35%">Last Update</th>
        </tr>
      </thead>
      <tbody id="tableRows"></tbody>
    </table>
  </div>
{% endblock %}



{% block bottom %}
<script>
  let filters = [["submitted", false], ["unfinished", false], ["all", true]];
  let userQuizzes = {{ data.user_quizzes|tojson }};

  document.addEventListener("DOMContentLoaded", () => {
    jsFuncs.addFilters(
      filters, 
      "filterTabs", 
      (activeFilter) => jsFuncs.renderQuizzesTableBody(activeFilter, userQuizzes, "tableRows")
    );
  });
</script>
{% endblock %}
