{% extends 'base.html' %}

{% block title %}My Quizzes - {{g.group.name}}{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_user_groups")),
      (g.group.name, url_for("group.show_group_page")),
      ("Your Quizzes", url_for("quizzes.index"))
    ])
  }}
{% endblock %}

{% block content %}
  <h2 class="heading heading_primary">Your Quizzes</h2>

  <div class="container my-4">
    <div class="row">
      <div class="col-12 col-sm-6 pr-sm-4">
        <h3 class="heading heading_secondary">New Quizzes</h3>
        <ul class="list">
          {% if g.user %}
            <li class="list__item list__item_active mb-4">
              <a class="list__linked-content" href="{{ url_for('quizzes.edit', quiz_id=0) }}">
                <div class="list__text-primary">
                  Create!
                </div>
                <div class="list__text-secondary">
                  Create a new quiz for this group.
                </div>
              </a>
            </li>
          {% endif %}
          {% for quiz in data.user_quizzes_in_progress %}
            <li class="list__item">
              <a class="list__linked-content" href="{{ url_for('quizzes.edit', quiz_id=quiz.id) }}">
                <div class="list__text-primary">
                  {{ quiz.topic }}
                </div>
                <div class="list__text-secondary">
                  [not submitted]
                </div>
                <div class="list__text-secondary">
                  {% if quiz.time_updated %}
                    {{ momentjs(quiz.time_updated).calendar() }}
                  {% else %}
                    {{ momentjs(quiz.time_created).calendar() }}
                  {% endif %}
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-12 col-sm-6 pr-4">
        <h3 class="heading heading_secondary">Submitted Quizzes</h3>
        <ul class="list">
          {% for quiz in data.user_quizzes_finalized %}
            <li class="list__item">
              <a class="list__linked-content" href="{{ url_for('quizzes.edit', quiz_id=quiz.id) }}">
                <div class="list__text-primary">
                  {{ quiz.topic }}
                </div>
                <div class="list__text-secondary">
                  {% if quiz.time_updated %}
                    {{ momentjs(quiz.time_updated).calendar() }}
                  {% else %}
                    {{ momentjs(quiz.time_created).calendar() }}
                  {% endif %}
                </div>
              </a>
            </li>
          {% else %}
            <li>
              You don't have any submitted quizzes.
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>
{% endblock %}
