{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Message{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="message-text">Text</label>
    <textarea name="text" id="message-body">{{ request.form['text'] or msg.text }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('chat.delete', id=msg.id) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
