{% macro render_form_errors(field) %}
  {% if field.errors %}
    <ul class="form__errors">
    {% for error in field.errors %}
      <li class="form__error">
        {{ error }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}


{% macro render_chat_message(msg) %}
  <article class="message {% if msg.is_own %}message--own{% endif %}">
    <div class="message__details">
      <div class="message__details-item message__author">{{ msg.user_name }}</div>
      <div class="message__details-item">
        {{ momentjs(msg.time_created).format() }}
        (<i>{{ momentjs(msg.time_created).fromNow(refresh=True) }}</i>)
      </div>
      {% if msg.is_own %}
        <a class="message__edit"
           href="{{ url_for('chat.edit', message_id=msg.id) }}">
           ✎
        </a>
      {% endif %}
    </div>
    <p class="message__text">{{ msg.text }}</p>
    {% if msg.time_updated %}
      <div class="message__edited">
        last edit: {{ momentjs(msg.time_updated).format() }}
      </div>
    {% endif %}
  </article>
{% endmacro %}
