/* ADMIN ACTIONS */
@import '_variables';


.admin-actions {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px dashed $red-color;
  border-bottom: 1px dashed $red-color;
  background-color: $red-color-lighter;
  margin: 1em 0;

  &__item {
    display: block;
    margin: 5px;
  }
}
