/* Button */
@import '_variables';


.button {
  display: block;
  text-decoration: none;
  outline: none;
  padding: 10px 40px;
  font-weight: bold;
  min-width: 100px;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &::-moz-focus-inner {
     border: 0;
  }

  &_action {
    color: $white-color;
    background-color: $blue-color;

    &:hover {
      background-color: $blue-color-light;
    }
    &:active {
      background-color: $blue-color-dark;
    }
  }

  &_danger {
    color: $white-color;
    background-color: $red-color;

    &:hover {
      background-color: $red-color-light;
    }
    &:active {
      background-color: $red-color-dark;
    }
  }
}
