.flash-messages {
  &__item {
    font-weight: bold;

    &_message {
      background-color: beige;
      color: black;
    }

    &_error {
      background-color: pink;
      color: maroon;
    }

    &_success {
      background-color: lightgreen;
      color: darkgreen;
    }
  }
}
