/* Generic Form */
@import "_variables";


.form {
  font-family: "Helvetica", "Arial", sans-serif;

  &__header {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.8;
    border-bottom: 2px solid $grey-color;
    text-align: center;
  }

  &__help {
    color: $grey-color-dark;
  }

  &__item {
    margin: 1em 0;
  }

  &__label {
    font-size: 1.2em;
    font-weight: bold;
    color: $grey-color-darker;
    line-height: 1.5;
  }

  &__input-help {
    font-size: 0.8em;
    color: $grey-color-dark;
    margin: 0.25em 0.1em;
  }

  &__errors {
    list-style: none;
    font-size: 0.9em;
    font-weight: bold;
  }

  &__error {
    color: $red-color;
    border-left: 3px solid $red-color;
    background-color: $red-color-lighter;
    padding: 0.5em;
  }

  &__input {
    border: 1px solid $grey-color;
    border-radius: 3px;
    padding: 0.5em;
    margin: 0.25em 0;
    width: 100%;
  }

  &__textarea {
    resize: none;
    height: 60px;
    padding: 0.5em;
    margin: 0.25em 0;
    width: 100%;

    &_sm {
      height: 150px;
    }
    &_lg {
      height: 250px;
    }
    &_md {
      height: 150px;
    }
  }

  &__input:valid,
  &__textarea:valid {
    background-color: $green-color-light;
  }
  &__input:invalid,
  &__textarea:invalid {
    box-shadow: none;
  }
  &__input:focus,
  &__textarea:focus {
    box-shadow: 0 0 10px $grey-color;
  }
  &__input:focus:invalid,
  &__textarea:focus:invalid {
    box-shadow: 0 0 10px $red-color-light;
  }
}
