/* Header */
@import '_variables';


.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
  display: flex;
  align-items: center;
  color: $main-color-dark;
  font-variant: small-caps;
  text-decoration: none;
  outline: none;

  &__image {
    height: 50px;
  }
  &__text {
    padding: 5px;
    text-shadow: 1px 1px 2px $main-color-dark;
    font-weight: bold;
    font-size: 36px;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;

  &__item {
    margin-left: 20px;
  }
  &__item_link {
    color: $link-color;
    font-weight: bold;

    text-decoration: none;
    outline: none;
  }
  &__item_link:hover {
    color: $link-color-dark;
  }
  &__item_username {
    background-color: $link-color;
    color: $white-color;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
  }
}
