/* List */
@import '_variables';


.list {
  list-style: none;

  &__item {
    margin: 1em 0;
    background-color: $grey-color-light;
    border-left: 5px solid $grey-color;

    &_active {
      background-color: $green-color-light;
      border-left: 5px solid $green-color-dark;
    }
  }

  &__linked-content {
    display: block;
    padding: 1em;

    text-decoration: none;
    outline: none;
    color: inherit;

    &:focus {
      background-color: $shade-lightest;
    }
    &:hover {
      background-color: $shade-lighter;
    }
    &:active {
      background-color: $shade-light;
    }
  }

  &__text-primary {
    font-size: 1.2em;
    color: $main-color-dark;
    font-variant: small-caps;
    font-weight: bold;
  }

  &__text-secondary {
    font-size: 1em;
    color: $grey-color-dark;
  }

  &__extras {
    padding: 0.2em 1em;
    background-color: $shade-lightest;
    border-top: 1px dashed $grey-color-dark;
  }
}
