/* Message Board */
@import '_variables';


.message {
  margin: 1em 0;
  background-color: $grey-color-light;
  padding: 2px;
  box-shadow: 3px 3px 5px $grey-color;

  &_own {
    background-color: $green-color-light;
  }

  &__details {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    color: $grey-color-dark;
  }

  &__details-item {
    margin-right: 2em;
    margin-left: 5px;
  }

  &__text {
    padding: 0.5em 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: $grey-color-lightest;
  }
}
