/* Message Board */
.message {
  margin: 1em 0;
  border-color: #dde;
  border-style: solid;
  border-width: 1px;

  &_own {
    background-color: rgba(0,255,0,0.1);
  }

  &__details {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 0.8em;
    color: #444;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    background-color: #eef;
  }

  &__details-item {
    margin-right: 2em;
    margin-left: 5px;
  }

  &__text {
    padding: 0.5em 1em;
    white-space: pre-wrap;
  }
}
