/* Page Layout */
@import '_variables';

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__section {
    padding: 5px;

    &_header {
      background-color: $grey-color-light;
      border-bottom: 2px solid $grey-color;
    }

    &_main {
      flex: 1;
    }

    &_footer {
      background-color: $grey-color-light;
      border-top: 2px solid $grey-color;
      color: $black-color;
    }
  }

  &__section-content {
    width: 100%;
    max-width: $layout-breakpoint-lg;
    margin: 0 auto;
  }
}
