/* Spacing */
$sizes: (
  "xs": 5px,
  "sm": 10px,
  "md": 1em,
  "lg": 1.5em
);

@each $k, $v in $sizes {
  .m_#{$k} {
    margin: $v;
  }
  .mx_#{$k} {
    margin-left: $v;
    margin-right: $v;
  }
  .my_#{$k} {
    margin-top: $v;
    margin-bottom: $v;
  }
  .mb_#{$k} {
    margin-bottom: $v;
  }

  .p_#{$k} {
    padding: $v;
  }
  .px_#{$k} {
    padding-left: $v;
    padding-right: $v;
  }
  .py_#{$k} {
    padding-top: $v;
    padding-bottom: $v;
  }
  .pl_#{$k} {
    padding-left: $v;
  }
  .pr_#{$k} {
    padding-right: $v;
  }
}
