/* Spacing */
.my_xs {
  margin-top: 5px;
  margin-bottom: 5px;
}
.my_sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my_md {
  margin-top: 1em;
  margin-bottom: 1em;
}
.my_lg {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}


.px_xs {
  padding-left: 5px;
  padding-right: 5px;
}
.px_sm {
  padding-left: 10px;
  padding-right: 10px;
}
.px_md {
  padding-left: 1em;
  padding-right: 1em;
}
.px_lg {
  padding-left: 1.5em;
  padding-right: 1.5em;
}


.py_xs {
padding-top: 5px;
padding-bottom: 5px;
}
.py_sm {
padding-top: 10px;
padding-bottom: 10px;
}
.py_md {
padding-top: 1em;
padding-bottom: 1em;
}
.py_lg {
padding-top: 1.5em;
padding-bottom: 1.5em;
}


.pl_xs {
  padding-left: 5px;
}
.pl_sm {
  padding-left: 10px;
}
.pl_md {
  padding-left: 1em;
}
.pl_lg {
  padding-left: 1.5em;
}


.pr_xs {
  padding-right: 5px;
}
.pr_sm {
  padding-right: 10px;
}
.pr_md {
  padding-right: 1em;
}
.pr_lg {
  padding-right: 1.5em;
}
