@import '_variables';


.tabs {
  display: flex;
  justify-content: flex-end;

  &__button {
    display: block;

    border-right: 1px solid $white-color;
    border-left: 1px solid $white-color;
    border-radius: 10px;
    cursor: pointer;
    padding: 6px 16px;

    text-decoration: none;
    outline: none;
    color: $tab-color;
    background-color: inherit;

    &:hover {
      background-color: $tab-color-dark;
      color: $white-color;
    }
    &_active {
      background-color: $tab-color-light;
      color: $white-color;
    }
  }
}
