{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block header %}
  {{ render_header([("Login", "")]) }}
{% endblock %}

{% block content %}
  <form method="post" class="form">
    <div class="form__header">
      Log In Form
    </div>

    <div class="form__item">
      <div class="form__help">
        In order to sign in, please enter your credentials below.
      </div>
    </div>

    <div class="form__item">
      <div class="form__label">
        <label for="username">Username</label>
      </div>
      <input class="form__input"
        name="username"
        id="username"
        required
      />
    </div>

    <div class="form__item">
      <div class="form__label">
        <label for="password">Password</label>
      </div>
      <input class="form__input"
        type="password"
        name="password"
        id="password"
        required
      />
    </div>

    <div class="form__item">
      <input class="button button_action"
        type="submit"
        value="Log In"
      />
    </div>
  </form>
{% endblock %}
