{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block header %}
  {{ render_header([("Login", "")]) }}
{% endblock %}

{% block content %}
  <form method="post" class="form">

    {{ form.hidden_tag() }}

    <div class="form__header">
      Log In Form
    </div>

    <div class="form__item">
      <div class="form__help">
        In order to sign in, please enter your credentials below.
      </div>
    </div>

    <div class="form__item">
      <div class="form__label">
        {{ form.username.label }}
      </div>
      {{ form.username(class="form__input") }}
    </div>

    <div class="form__item">
      <div class="form__label">
        {{ form.password.label }}
      </div>
      {{ form.password(class="form__input") }}
    </div>

    <div class="form__item">
      <input class="button button_action"
        type="submit"
        value="Log In"
      />
    </div>
  </form>
{% endblock %}
