{% extends 'base.html' %}
{% from 'macros.html' import render_form_errors %}

{% block title %}Register{% endblock %}

{% block header %}
  {{ render_header([("Register", "")]) }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 paper-sm bg-grey p-2 p-md-4 my-2">
        <form method="post" class="form">

          {{ form.hidden_tag() }}

          <div class="form__header">
            Registration Form
          </div>

          <div class="form__item form__help">
            <div class="form__help">
              Please fill this form to create an account.
            </div>
          </div>

          <div class="form__item">
            <div class="form__label">
              {{ form.username.label }}
            </div>
            {{ form.username(class="form__input", placeholder="enter your username") }}
            {{ render_form_errors(form.username) }}
            <div class="form__input-help">
              Start with a letter. Use English letters, numbers, ".", or "_". From 2 to 20 characters.
            </div>
          </div>

          <div class="form__item">
            <div class="form__label">
              {{ form.password.label }}
            </div>
            {{ form.password(class="form__input", placeholder="enter your password") }}
            {{ render_form_errors(form.password) }}
            <div class="form__input-help">
              Minimum 6 letters.
            </div>
          </div>

          <div class="form__item">
            <div class="form__label">
              {{ form.password2.label }}
            </div>
            {{ form.password2(class="form__input", placeholder="enter your password again") }}
            {{ render_form_errors(form.password2) }}
            <div class="form__input-help">
              Type your password one more time to confirm it.
            </div>
          </div>

          <div class="form__item">
            <input class="button button_action"
              type="submit"
              value="Register"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
