{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block header %}
  {{ render_header([("Register", "")]) }}
{% endblock %}

{% block content %}
  <form method="post" class="form">
    
    {{ form.hidden_tag() }}

    <div class="form__header">
      Registration Form
    </div>

    <div class="form__item form__help">
      <div class="form__help">
        In order to create an account, please fill the form below.
      </div>
    </div>

    <div class="form__item">
      <div class="form__label">
        {{ form.username.label }}
      </div>
      {{ form.username(class="form__input", placeholder="username",
                       pattern="^[a-zA-Z][a-zA-Z0-9_\\.]{1,19}$") }}
      {{ render_form_errors(form.username) }}
      <div class="form__input-help">
        Please start with a letter, and use English letters, numbers, ".", or "_". From 2 to 20 letters.
      </div>
    </div>

    <div class="form__item">
      <div class="form__label">
        {{ form.password.label }}
      </div>
      {{ form.password(class="form__input", placeholder="password", minlength=6, maxlength=50) }}
      {{ render_form_errors(form.password) }}
      <div class="form__input-help">
        Minimum 6 letters.
      </div>
    </div>

    <div class="form__item">
      <input class="button button_action"
        type="submit"
        value="Register"
      />
    </div>
  </form>
{% endblock %}
