{% extends 'base.html' %}

{% block header %}{% block title %}Register{% endblock %}{% endblock %}

{% block content %}
  <form method="post" class="b-form">
    <div class="b-form__header">
      Registration Form
    </div>

    <div class="b-form__helper-text">
      In order to create an account, please fill the form below.
    </div>

    <div class="b-form__row">
      <div class="b-form__label">
        <label for="username">Username</label>
      </div>
      <input class="b-form__input"
        name="username"
        id="username"
        required
      />
    </div>

    <div class="b-form__row">
      <div class="b-form__label">
        <label for="password">Password</label>
      </div>
      <input class="b-form__input"
        type="password"
        name="password"
        id="password"
        required
      />
    </div>

    <div class="b-form__row">
      <input class="button button_action"
        type="submit"
        value="Register"
      />
    </div>
  </form>
{% endblock %}
