{% extends "base.html" %}
{% from 'macros.html' import render_form_errors %}

{% block title %}Request Reset Password{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 paper-sm bg-grey p-2 p-md-4 my-2">
        <form action="" method="post" class="form">

          {{ form.hidden_tag() }}

          <div class="form__header">
            Reset Password
          </div>

          <div class="form__item form__help">
            <div class="form__help">
              Please enter the email address you used to register with this wesbite.
              An email with instructions on how to select a new password will be sent to that address.
            </div>
          </div>

          <div class="form__item">
            <div class="form__label">
              {{ form.email.label }}
            </div>
            {{ form.email(class="form__input") }}
            {{ render_form_errors(form.email) }}
          </div>

          <div class="form__item">
            <input class="btn btn--primary"
              type="submit"
              value="Request Password Reset"
            />
          </div>

        </form>
      </div>
    </div>
  </div>
{% endblock %}
