{% extends 'base.html' %}

{% block title %}Email Confirmation Required{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 bg-grey p-4">
        <h1 class="heading heading_primary">Confirm Your Email</h1>
        <p class="my-3">
          Dear {{ g.user.name }},<br/><br/>
          Before you can access the website, you need to confirm your email address.<br/><br/>
          Check your email inbox (or spam folder, if there is nothing in your inbox),
          and follow the instructions there.<br/><br/>
          <a href="{{ url_for('auth.resend_confirm') }}">Click here</a>
          if you need another confirmation email.
        </p>
        <p class="my-3">
          Sincerely,<br/>
          The Quizzz Team
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
