{% extends 'base.html' %}

{% block title %}
  {% if data.tournament.id %}Edit Tournament{% else %}New Tournament{% endif %}
  - {{ g.group.name }}
{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_user_groups")),
      (g.group.name, url_for("group.show_group_page")),
      ("Tournaments", url_for("tournaments.index")),
      ((data.tournament.id and "Edit Tournament") or "New Tournament", "")
    ])
  }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 paper-sm bg-grey p-2 p-md-4 my-2">
        <div class="form">

          <div class="form__header">
            {{ (data.tournament.id and "Edit Tournament") or "New Tournament" }}
          </div>

          <div class="form__item">
            <div class="form__help">
              Please fill in the form below and hit 'save'.<br/>
            </div>
          </div>

          <form action="" method="post">

            {{ form.hidden_tag() }}

            <div class="form__item">
              <div class="form__label">
                {{ form.tournament_name.label }}
              </div>
              {{ form.tournament_name(class="form__input") }}
            </div>

            <div class='form__item'>
              <label for='is_active'>
                {{ form.is_active() }}
                <span>Show tournament as active?</span>
              </label>
            </div>

            <div class='form__item'>
              <button class="button button_action">Save</button>
            </div>

          </form>

          {% if data.tournament.id %}
            <form action="{{ url_for('tournaments.delete_tournament', tournament_id=data.tournament.id) }}"
                  method="post">
              {{ delete_form.hidden_tag() }}
              <div class='form__item'>
                <button class="button button_danger"
                        onclick="return confirm('Are you sure?');">
                  Delete
                </button>
              </div>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
