{% extends 'base.html' %}

{% block title %}
  {% if data.round.id %}Edit Round{% else %}New Round{% endif %}
  - {{ g.group.name }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="paper-sm bg-grey p-2 p-md-4 my-2">
          <div class="form">

            <div class="form__header">
              {{ (data.round.id and "Edit Round") or "New Round" }}
            </div>

            <div class="form__item">
              <div class="form__help">
                Please fill in the form below and hit 'save'.<br/>
              </div>
            </div>

            <div class="form__item">
              <div class="form__label">
                <label for="tournament_name">Tournament Name</label>
              </div>
              <input class="form__input"
                name="tournament_name"
                id="tournament_name"
                type="text"
                value="{{ data.tournament.name }}"
                disabled
              />
            </div>

            <form id="form" action="" method="post">

              {{ empty_form.hidden_tag() }}

              <div class='form__item'>
                <label class="form__label" for="selectQuiz">Select Quiz</label>
                <input id="selectedQuizId" hidden/>
                <div id="selectQuiz"></div>
              </div>

              <div class="form__item">
                <div class="form__label">
                  Start Time
                </div>
                <div class="form__input-help">
                  Select the time (your local time) when quiz will become available for play.
                </div>
                <div id="start_time"></div>
              </div>

              <div class="form__item">
                <div class="form__label">
                  Finish Time
                </div>
                <div class="form__input-help">
                  Select the time (your local time) when quiz will stop being available for play.
                </div>
                <div id="finish_time"></div>
              </div>

              <div class='form__item text-centered'>
                <button class="btn btn--secondary btn--mw200">Save</button>
              </div>

            </form>

            {% if data.round.id %}
              <form action="{{ url_for('tournaments.delete_round', round_id=data.round.id) }}"
                    method="post">

                {{ empty_form.hidden_tag() }}

                <div class='form__item text-centered'>
                  <button class="btn btn--red btn--mw200"
                          onclick="return confirm('Are you sure?');">
                    Delete
                  </button>
                </div>
              </form>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block bottom %}
<script>
  let quizId = {{ data.selected.quiz_id|tojson }};
  let quizPool = {{ data.quiz_pool|tojson }};
  let startTimeUTC = {{ data.selected.start_time_utc|tojson }};
  let finishTimeUTC = {{ data.selected.finish_time_utc|tojson }};
  

  const getDateTimeValue = (prefix) => {
    const dt = new Date(document.querySelector(`#${prefix}_date`).value);
    dt.setHours(document.querySelector(`#${prefix}_hours`).value);
    dt.setMinutes(document.querySelector(`#${prefix}_minutes`).value);
    return dt.toISOString().split('.')[0] + "Z";
  }


  const getFormData = () => {
    formData = {
      "quiz_id": document.querySelector("#selectedQuizId").value || null,
      "start_time": getDateTimeValue("start_time"),
      "finish_time": getDateTimeValue("finish_time"),
    }
    return formData;
  }


  document.addEventListener("DOMContentLoaded", () => {

    jsFuncs.renderQuizSelector(quizId, quizPool);
    jsFuncs.renderDateTimeSelector("start_time", startTimeUTC, "start_time");
    jsFuncs.renderDateTimeSelector("finish_time", finishTimeUTC, "finish_time");

    const form = document.getElementById("form");
    form.onsubmit = (e) => {
      e.preventDefault();

      // create new form using main form's data
      let newForm = document.createElement('form');
      newForm.action = form.action;
      newForm.method = form.method;
      let csrfToken = form.elements.csrf_token.value;
      let formData = getFormData();
      newForm.innerHTML = (
        `<input name="csrf_token" type="hidden" value="${csrfToken}">
        <input name="quiz_id" value="${formData.quiz_id}">
        <input name="start_time" value="${formData.start_time}">
        <input name="finish_time" value="${formData.finish_time}">`
      );
      // the form must be in the document to submit it
      document.body.append(newForm);
      // submit new form
      newForm.submit();
    }
  });

</script>
{% endblock %}
