{% extends 'base.html' %}

{% block title %}
  {% if data.round.id %}Edit Round{% else %}New Round{% endif %}
  - {{ g.group.name }}
{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_user_groups")),
      (g.group.name, url_for("groups.show_group_page")),
      ("Tournaments", url_for("tournaments.index")),
      (data.tournament.name, url_for("tournaments.show_tournament", tournament_id=data.tournament.id)),
      ("Edit Round", "")
    ])
  }}
{% endblock %}

{% block content %}
  <div class="form">

    <div class="form__header">
      {{ (data.round.id and "Edit Round") or "New Round" }}
    </div>

    <div class="form__item">
      <div class="form__help">
        Please fill in the form below and hit 'save'.<br/>
      </div>
    </div>

    <form action="" method="post">

      <div class="form__item">
        <div class="form__label">
          <label for="tournament_name">Tournament Name</label>
        </div>
        <input class="form__input"
          name="tournament_name"
          id="tournament_name"
          type="text"
          value="{{ data.tournament.name }}"
          maxlength="100"
          disabled
        />
      </div>

      <div class='form__item'>
        <label for='quiz_id'>Select Quiz</label>
        <select id='quiz_id' name='quiz_id'>
          {% if data.round.quiz %}
            <option selected value='{{ data.round.quiz.id }}'>
              {{ data.round.quiz.topic }} by {{ data.round.quiz.author_name }}
            </option>
          {% endif %}
          {% for quiz in data.quiz_pool %}
            <option value='{{ quiz.id }}'>{{ quiz.topic }} by {{ quiz.author_name }}</option>
          {% endfor %}
        </select>
      </div>


      <div class="form__item">
        <div class="form__label">
          <label for="start_time">Start Time</label>
        </div>
        <input class="form__input"
          name="start_time"
          id="start_time"
          type="date"
          value="{{ ((data.round and data.round.start_time)|string)[:10] or '' }}"
          maxlength="100"
        />
      </div>

      <div class="form__item">
        <div class="form__label">
          <label for="finish_time">Finish Time</label>
        </div>
        <input class="form__input"
          name="finish_time"
          id="finish_time"
          type="date"
          value="{{ ((data.round and data.round.finish_time)|string)[:10] or '' }}"
          maxlength="100"
        />
      </div>

      <div class='form__item'>
        <button class="button button_action">Save</button>
      </div>

    </form>

    {% if data.round.id %}
      <form action="{{ url_for('tournaments.delete_round', round_id=data.round.id) }}"
            method="post">
        <div class='form__item'>
          <button class="button button_danger"
                  onclick="return confirm('Are you sure?');">
            Delete
          </button>
        </div>
      </form>
    {% endif %}

  </div>
{% endblock %}
