{% extends 'base.html' %}

{% block title %}
  {% if data.round.id %}Edit Round{% else %}New Round{% endif %}
  - {{ g.group.name }}
{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_user_groups")),
      (g.group.name, url_for("group.show_group_page")),
      ("Tournaments", url_for("tournaments.index")),
      (data.tournament.name, url_for("tournaments.show_tournament", tournament_id=data.tournament.id)),
      ("Edit Round", "")
    ])
  }}
{% endblock %}

{% block content %}
  <div class="paper paper_narrow paper_sm-disabled">
    <div class="form">

      <div class="form__header">
        {{ (data.round.id and "Edit Round") or "New Round" }}
      </div>

      <div class="form__item">
        <div class="form__help">
          Please fill in the form below and hit 'save'.<br/>
        </div>
      </div>

      <div class="form__item">
        <div class="form__label">
          <label for="tournament_name">Tournament Name</label>
        </div>
        <input class="form__input"
          name="tournament_name"
          id="tournament_name"
          type="text"
          value="{{ data.tournament.name }}"
          disabled
        />
      </div>

      <form action="" method="post">

        {{ form.hidden_tag() }}

        <div class='form__item'>
          {{ form.quiz_id.label(class="form__label") }}
          {{ form.quiz_id() }}
        </div>

        <div class="form__item">
          <div class="form__label">
            Start Time
          </div>
          <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="form__input-help">date</div>
                {{ form.start_date(class="form__input") }}
              </div>
              <div class="col-offset-1 col-2">
                <div class="form__input-help">hours</div>
                {{ form.start_time_hours(class="form__input") }}
              </div>
              <div class="col-offset-1 col-2">
                <div class="form__input-help">minutes</div>
                {{ form.start_time_minutes(class="form__input") }}
              </div>
            </div>
          </div>
        </div>

        <div class="form__item">
          <div class="form__label">
            Finish Time
          </div>
          <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="form__input-help">date</div>
                {{ form.finish_date(class="form__input") }}
              </div>
              <div class="col-offset-1 col-2">
                <div class="form__input-help">hours</div>
                {{ form.finish_time_hours(class="form__input") }}
              </div>
              <div class="col-offset-1 col-2">
                <div class="form__input-help">minutes</div>
                {{ form.finish_time_minutes(class="form__input") }}
              </div>
            </div>
          </div>
        </div>

        <div class='form__item'>
          <button class="button button_action">Save</button>
        </div>

      </form>

      {% if data.round.id %}
        <form action="{{ url_for('tournaments.delete_round', round_id=data.round.id) }}"
              method="post">

          {{ delete_form.hidden_tag() }}

          <div class='form__item'>
            <button class="button button_danger"
                    onclick="return confirm('Are you sure?');">
              Delete
            </button>
          </div>
        </form>
      {% endif %}

    </div>
  </div>
{% endblock %}
