{% extends 'base.html' %}

{% block title %}Tournaments - {{g.group.name}}{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_user_groups")),
      (g.group.name, url_for("groups.show_group_page")),
      ("Tournaments", "")
    ])
  }}
{% endblock %}

{% block content %}
  <h2 class="heading heading_primary">Group Tournaments</h2>

  {% if data.has_edit_permissions %}
    <div class="admin-actions">
      <a class="admin-actions__item button button_action"
         href="{{ url_for('tournaments.edit_tournament', tournament_id=0) }}">
        New Tournament
      </a>
    </div>
  {% endif %}

  <div class="tabs">
    {% for filter, is_active in data.filters.items() %}
      <a class="tabs__button {{ (is_active and 'tabs__button_active') or '' }}"
         href="?filter={{ filter }}">
        {{ filter|capitalize }}
      </a>
    {% endfor %}
  </div>

  <table class="table table--full-width my_md">
    <thead>
      <tr>
        <th width="5%">#</th>
        <th width="50%">Name</th>
        <th width="10%">Active</th>
        <th width="25%">Time Created</th>
        <th width="10%">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for tournament in data.tournaments %}
        <tr class="table__tr table__tr--{{ loop.cycle('odd', 'even') }}">
          <td class="table__td table__td--centered">{{ loop.index }}</td>
          <td class="table__td">
            <a href="{{ url_for('tournaments.show_tournament', tournament_id=tournament.id) }}">
              {{ tournament.name }}
            </a>
          </td>
          <td class="table__td table__td--centered">{{ (tournament.is_active and "yes") or "" }}</td>
          <td class="table__td table__td--centered">{{ tournament.time_created }}</td>
          <td class="table__td table__td--centered">
            {% if data.has_edit_permissions %}
            <a href="{{ url_for('tournaments.edit_tournament', tournament_id=tournament.id) }}">
              Edit
            </a>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr class="table__tr table__tr--odd">
          <td class="table__td" colspan="5">Nothing to see here.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
