{% extends 'base.html' %}

{% block title %}Tournaments - {{g.group.name}}{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_user_groups")),
      (g.group.name, url_for("groups.show_group_page")),
      ("Tournaments", "")
    ])
  }}
{% endblock %}

{% block content %}
  <h2 class="heading heading_primary">Group Tournaments</h2>

  {% if data.has_edit_permissions %}
    <div class="admin-actions">
      <a class="admin-actions__item button button_action"
         href="{{ url_for('tournaments.edit_tournament', tournament_id=0) }}">
        New Tournament
      </a>
    </div>
  {% endif %}

  <div class="tabs">
    {% for filter, is_active in data.filters.items() %}
      <a class="tabs__button {{ (is_active and 'tabs__button_active') or '' }}"
         href="?filter={{ filter }}">
        {{ filter|capitalize }}
      </a>
    {% endfor %}
  </div>

  <ul class="list">
    {% for tournament in data.tournaments %}
      <li class="list__item">
        <a class="list__linked-content"
           href="{{ url_for('tournaments.show_tournament', tournament_id=tournament.id) }}">
          <div class="list__text-primary">
            {{ tournament.name }}
          </div>
        </a>
        {% if data.has_edit_permissions %}
          <div class="list__extras">
            <a href="{{ url_for('tournaments.edit_tournament', tournament_id=tournament.id) }}">
              Edit
            </a>
          </div>
        {% endif %}
      </li>
    {% else %}
      <p>Nothing here.</p>
    {% endfor %}
  </ul>
{% endblock %}
