{% extends 'base.html' %}

{% block title %}Review Quiz{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.index")),
      (g.group.name, url_for("group.show_group_page", group_id=g.group.id)),
      ("Tournaments", url_for("tournaments.index")),
      (data.tournament.name, url_for("tournaments.show_tournament_page", tournament_id=data.tournament.id)),
      (data.round.name or "Round %s" % data.round.id, url_for("tournaments.show_round_page", round_id=data.round.id))
    ])
  }}
{% endblock %}

{% block content %}
  <div class="paper-lg bg-grey p-2 p-sm-4">
    <div class="quiz-form">
      <div class="quiz-form__item">
        <div class="quiz-form__header">
          "{{ data.round.quiz.topic }}"
        </div>
      </div>

      {% for question in data.questions %}
        <div class='quiz-form__item quiz-form__item_outlined
            quiz-form__item_{% if question.is_answer_correct %}correct{% else %}wrong{% endif %}'>
          <div class="quiz-form__row">
            <div class='quiz-form__helper-text'>
              Question {{ loop.index }}
            </div>
          </div>

          <div class="quiz-form__row">
            <div class='quiz-form__label'>
              {{ question.text }}
            </div>
          </div>

          <div class="quiz-form__row">
            <table>
              {% for option in question.options %}
                {% if option.is_correct %}
                  <tr class="correct">
                {% elif option.is_selected %}
                  <tr class="wrong">
                {% else %}
                  <tr>
                {% endif %}
                  <td class="pr-2">
                    {% if option.is_correct and option.is_selected %}
                      [&#10003;]
                    {% elif option.is_selected %}
                      [X]
                    {% endif %}
                  </td>
                  <td>{{ option.text }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>

          <div class="quiz-form__row">
            {{ question.comment or "" }}
          </div>

        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
