{% extends 'base.html' %}

{% block title %}Review Quiz{% endblock %}

{% block head %}
  <script defer src='/static/js/chat.js'></script>
{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.index")),
      (g.group.name, url_for("group.show_group_page", group_id=g.group.id)),
      ("Tournaments", url_for("tournaments.index")),
      (data.tournament.name, url_for("tournaments.show_tournament_page", tournament_id=data.tournament.id)),
      (data.round.name or "Round %s" % data.round.id, url_for("tournaments.show_round_page", round_id=data.round.id))
    ])
  }}
{% endblock %}

{% block content %}
  <div class="paper-lg bg-grey p-2 p-sm-4">
    <div class="quiz-form">
      <div class="quiz-form__item">
        <div class="quiz-form__header">
          "{{ data.round.quiz.topic }}" by {{ data.round.quiz.author }}
        </div>
      </div>

      <div class="quiz-form__item">
        <div class="quiz-form__row">
          Taken by: <strong>{{ data.total_plays }}</strong> players
        </div>
      </div>

      {% for question in data.questions %}
        <div class='quiz-form__item quiz-form__item_outlined
            quiz-form__item_{% if question.is_answer_correct %}correct{% else %}wrong{% endif %}'>
          <div class="quiz-form__row">
            <div class='quiz-form__helper-text'>
              Question {{ loop.index }}
            </div>
          </div>

          <div class="quiz-form__row">
            <div class='quiz-form__label'>
              {{ question.text }}
            </div>
          </div>

          <div class="quiz-form__row">
            <table>
              {% for option in question.options %}
                {% if option.is_correct %}
                  <tr class="correct">
                {% elif option.is_selected %}
                  <tr class="wrong">
                {% else %}
                  <tr>
                {% endif %}
                  <td class="px-4">
                    {{ (data.total_plays and
                        (((100 * option.selected_by / data.total_plays)|round|string) + "%")
                        ) or "-" }}</td>
                  <td class="px-4">
                    {% if option.is_correct and option.is_selected %}
                      [&#10003;]
                    {% elif option.is_selected %}
                      [X]
                    {% endif %}
                  </td>
                  <td>{{ option.text }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>

          <div class="quiz-form__row">
            {{ question.comment or "" }}
          </div>

        </div>
      {% endfor %}
    </div>
  </div>

  <h2 class="heading heading_primary">Round Chat</h2>

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
        <a href="{{ url_for('chat.edit', message_id=0, round_id=data.round.id) }}">
          New Message
        </a>
        <div id="message_list"></div>
        <div id="pagination"></div>
      </div>
    </div>
  </div>

  <script>
    const url = "{{ url_for('chat.api_index', page=1, round_id=data.round.id)|safe }}";
    document.addEventListener("DOMContentLoaded", () => loadChat(url));
  </script>
{% endblock %}
