{% extends 'base.html' %}

{% block title %}{{ data.tournament.name }} Round - {{g.group.name}}{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_user_groups")),
      (g.group.name, url_for("groups.show_group_page", group_id=g.group.id)),
      ("Tournaments", url_for("tournaments.index")),
      (data.tournament.name, url_for("tournaments.show_tournament", tournament_id=data.tournament.id)),
      (data.round.name or "Round %s" % data.round.id, "")
    ])
  }}
{% endblock %}

{% block content %}
  <h2 class="heading heading_primary">Round Page</h2>

  <table>
    <tr>
      <td>Topic</td>
      <td>{{ data.quiz.topic }}</td>
    </tr>
    <tr>
      <td>Author</td>
      <td>{{ data.quiz.author }}</td>
    </tr>
    <tr>
      <td>Start Time</td>
      <td>{{ data.round.start_time.strftime("%A, %d %b %Y at %H:%M") }}</td>
    </tr>
    <tr>
      <td>Finish Time</td>
      <td>{{ data.round.finish_time.strftime("%A, %d %b %Y at %H:%M") }}</td>
    </tr>
    <tr>
      <td class="pr_lg">Your Action</td>
      <td>
        {% if not data.is_taken %}
          <form action="{{ url_for('tournaments.start_round', round_id=data.round.id) }}" method="post">
            <button class="button button_action my_md">
              Take Quiz
            </button>
          <form>
        {% else %}
          <a class="button button_action my_md"
             href="{{ url_for('tournaments.review_round', round_id=data.round.id) }}">
            Review Quiz
          </a>
        {% endif %}
      </td>
    </tr>
  </table>

  <section class="my_lg">
    <h3 class="heading heading_secondary">Standings</h3>
    {% if data.quiz.plays %}
      <table class="results-table">
        <tr class="results-table__header-row">
          <td class="results-table__header-cell">#</td>
          <td class="results-table__header-cell">user</td>
          <td class="results-table__header-cell">result</td>
          <td class="results-table__header-cell">time</td>
          <td class="results-table__header-cell">score</td>
        </tr>
        {% for obj in data.quiz.plays %}
          <tr class="results-table__row results-table__row_{{ loop.cycle('odd', 'even') }}
              {{ (obj.user_id == g.user.id and 'results-table__row_own') or '' }}">
            <td class="results-table__cell">{{ loop.index }}</td>
            <td class="results-table__cell">{{ obj.user }}</td>
            <td class="results-table__cell">{{ obj.result }}</td>
            <td class="results-table__cell">{{ obj.time|round(2) }}</td>
            <td class="results-table__cell"><strong>{{ obj.score|round(1) }}</strong></td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No one has taken this quiz yet.</p>
    {% endif %}
  </section>
{% endblock %}
