{% extends 'base.html' %}

{% block title %}{{ data.tournament.name }} Round - {{g.group.name}}{% endblock %}

{% block content %}
  <h2 class="heading heading--1">Round Page</h2>

  <table>
    <tr>
      <td>Topic</td>
      <td>{{ data.round.quiz.topic }}</td>
    </tr>
    <tr>
      <td>Author</td>
      <td>{{ data.round.quiz.author }}</td>
    </tr>
    <tr>
      <td>Start Time</td>
      <td>
        <span class="momentjs-date"
          data-timestamp="{{data.round.start_time}}"
          data-func="format"
          data-format="MMM D, YYYY [at] h:mm a">
        <span>
      </td>
    </tr>
    <tr>
      <td>Finish Time</td>
      <td>
        <span class="momentjs-date"
          data-timestamp="{{data.round.finish_time}}"
          data-func="format"
          data-format="MMM D, YYYY [at] h:mm a">
        <span>
      </td>
    </tr>
    <tr>
      <td class="pr-4">Your Action</td>
      <td>
        {% if not data.round.is_taken and data.round.status == "current" and not data.round.is_author %}
          <form action="{{ url_for('tournaments.start_round', round_id=data.round.id) }}" method="post">
            <button class="btn btn--primary my-3">
              Take Quiz
            </button>
          <form>
        {% elif data.round.is_taken or data.round.is_author %}
          <a class="btn btn--secondary my-3"
             href="{{ url_for('tournaments.review_round', round_id=data.round.id) }}">
            Review Quiz
          </a>
        {% endif %}
      </td>
    </tr>
  </table>

  <section class="my-4">
    <h3 class="heading heading--2">Standings</h3>
    {% if data.round_standings %}
      <table class="table table--full-width table--colorful">
        <thead>
          <tr>
            <th width="10%">#</th>
            <th width="42%">user</th>
            <th width="16%">result</th>
            <th width="16%">time</th>
            <th width="16%">score</th>
          </tr>
        </thead>
        {% for obj in data.round_standings %}
          <tr class="table__tr table__tr--{{ loop.cycle('odd', 'even') }}
              {{ (obj.user_id == g.user.id and 'table__tr--bold') or '' }}">
            <td class="table__td table__td--centered">{{ loop.index }}</td>
            <td class="table__td">{{ obj.user }}</td>
            <td class="table__td table__td--centered">{{ obj.result }}</td>
            <td class="table__td table__td--centered">{{ (obj.time and obj.time|round(2)) or "" }}</td>
            <td class="table__td table__td--centered">
              <strong>{{ obj.score|round(1) }}</strong>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No one has taken this quiz yet.</p>
    {% endif %}
    <br/>
    <p>As the author of this quiz, <strong>{{ data.round.quiz.author }}</strong>
      earns {{ data.round.author_score }} point(s).
  </section>
{% endblock %}
