{% extends 'base.html' %}

{% block title %}Tournaments - {{g.group.name}}{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_all")),
      (g.group.name, url_for("groups.show_single", group_id=g.group.id)),
      ("Tournaments", "")
    ])
  }}
{% endblock %}

{% block content %}
  <ul class="list">
    {% for tournament in data.tournaments %}
      <a class="list__item-link"
         href="{{ url_for('tournaments.show_tournament', tournament_id=tournament.id) }}">
        <li class="list__item">
          <div class="list__text-primary">{{ tournament.name }}</div>
        </li>
      </a>
    {% endfor %}
  </ul>
{% endblock %}
