{% extends 'base.html' %}

{% block title %}{{ data.tournament.name }} Tournament - {{g.group.name}}{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_user_groups")),
      (g.group.name, url_for("groups.show_group_page")),
      ("Tournaments", url_for("tournaments.index")),
      (data.tournament.name, "")
    ])
  }}
{% endblock %}

{% block content %}
  {% if data.has_edit_permissions %}
    <div class="actions">
      <a class="actions__item button button_action my_md"
         href="{{ url_for('tournaments.edit_round', tournament_id=data.tournament.id, round_id=0) }}">
        Add Round
      </a>
      <a class="actions__item actions__item_last button button_action my_md"
         href="{{ url_for('tournaments.edit_tournament', tournament_id=data.tournament.id) }}">
         Edit Tournament
      </a>
    </div>
  {% endif %}
  <ul class="list">
    {% for round in data.rounds %}
      <li class="list__item {% if not round.is_taken %}list__item_active{% endif %}">
        <a class="list__linked-content"
           href="{{ url_for('tournaments.show_round', round_id=round.id) }}">
          <div class="list__text-primary">{{ round.quiz.topic }}</div>
          <div class="list__text-secondary">by {{ round.quiz.author }}</div>
          <div class="list__text-secondary">
            {{ round.start_time.strftime("%A, %d %b %Y at %H:%M") }} - {{ round.finish_time.strftime("%A, %d %b %Y at %H:%M") }}
          </div>
        </a>
        {% if data.has_edit_permissions %}
          <div class="list__extras">
            <a href="{{ url_for('tournaments.edit_round', tournament_id=data.tournament.id, round_id=round.id) }}">
              Edit Round
            </a>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <h4>
    <a href="{{ url_for('tournaments.show_rounds', tournament_id=data.tournament.id) }}">
      Show Rounds
    </a>
  </h4>

  <section class="my_lg">
    <h2 class="item-header item-header_main">Standings</h2>
    {% if data.standings %}
      <table class="results-table">
        <tr class="results-table__header-row">
          <td class="results-table__header-cell">#</td>
          <td class="results-table__header-cell">user</td>
          <td class="results-table__header-cell">played</td>
          <td class="results-table__header-cell">points</td>
        </tr>
        {% for obj in data.standings %}
          <tr class="results-table__row results-table__row_{{ loop.cycle('odd', 'even') }}
              {{ (obj.user_id == g.user.id and 'results-table__row_own') or '' }}">
            <td class="results-table__cell">{{ loop.index }}</td>
            <td class="results-table__cell">{{ obj.user }}</td>
            <td class="results-table__cell">{{ obj.rounds }}</td>
            <td class="results-table__cell">{{ obj.points }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Tournament standings will be here.</p>
    {% endif %}
  </section>
{% endblock %}
