{% extends 'base.html' %}

{% block title %}{{ data.tournament.name }} Tournament - {{g.group.name}}{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_all")),
      (g.group.name, url_for("groups.show_single", group_id=g.group.id)),
      ("Tournaments", url_for("tournaments.index")),
      (data.tournament.name, "")
    ])
  }}
{% endblock %}

{% block content %}
  <ul class="list">
    {% for round in data.tournament.rounds %}
      <a class="list__item-link"
         href="{{ url_for('tournaments.show_round', round_id=round.id) }}">
        <li class="list__item {% if not round.is_taken %}list__item_active{% endif %}">
          <div class="list__text-primary">{{ round.quiz.topic }}</div>
          <div class="list__text-secondary">by {{ round.quiz.author }}</div>
          <div class="list__text-secondary">{{ round.start_time }} - {{ round.finish_time }}</div>
          {% if data.has_edit_permissions %}
            <a href="{{ url_for('tournaments.update_round', tournament_id=data.tournament.id, round_id=round.id) }}">
              Edit Round
            </a>
          {% endif %}
        </li>
      </a>
    {% endfor %}
  </ul>
  {% if data.has_edit_permissions %}
    <h2 style="color:pink;">
      <a href="{{ url_for('tournaments.create_round', tournament_id=data.tournament.id) }}">
        Add Round
      </a>
    </h2>
    <h2 style="color:red;">
      <a href="{{ url_for('tournaments.update_tournament', tournament_id=data.tournament.id) }}">
        Edit Tournament
      </a>
    </h2>
  {% endif %}
{% endblock %}
