{% extends 'base.html' %}

{% block header %}{% block title %}Play Zone{% endblock %}{% endblock %}

{% block content %}
  <section class="my_lg">
    <h2 class="item-header item-header_main">Played Quizzes</h2>
    {% if data.played_quizzes %}
      <table class="results-table">
        <tr class="results-table__header-row">
          <td class="results-table__header-cell">title</td>
          <td class="results-table__header-cell">author</td>
          <td class="results-table__header-cell">tournament</td>
          <td class="results-table__header-cell">date</td>
          <td class="results-table__header-cell">result</td>
          <td class="results-table__header-cell">time</td>
        </tr>
        {% for obj in data.played_quizzes %}
          <tr class="results-table__row results-table__row_{{ loop.cycle('odd', 'even') }}">
            <td class="results-table__cell">
                <a class="results-table__cell-link"
                   href="{{ url_for('plays.review_quiz', quiz_id=obj.id) }}">
                  {{ obj.topic }}
                </a>
            </td>
            <td class="results-table__cell">{{ obj.author }}</td>
            <td class="results-table__cell">{{ obj.tournament }}</td>
            <td class="results-table__cell">{{ obj.date }}</td>
            <td class="results-table__cell">{{ obj.result }}</td>
            <td class="results-table__cell">{{ obj.time }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>You haven't played any quizzes yet.</p>
    {% endif %}
  </section>
  <section class="my_lg">
    <h2 class="item-header item-header_main">Available Quizzes</h2>
    {% if data.available_quizzes %}
      <ul class="list">
        {% for obj in data.available_quizzes %}
          <a class="list__item-link" href="{{ url_for('plays.take_quiz', quiz_id=obj.id) }}">
            <li class="list__item">
              <div class="list__text-primary">{{ obj.topic }}</div>
              <div class="list__text-secondary">[by {{ obj.author }}]</div>
            </li>
          </a>
        {% endfor %}
      </ul>
    {% else %}
      <p>There are no available quizzes.</p>
    {% endif %}
  </section>
{% endblock %}
