{% extends 'base.html' %}

{% block header %}{% block title %}Play Zone{% endblock %}{% endblock %}

{% block content %}
  <section class="my_lg">
    {% if g.user %}
      <h2 class="item-header item-header_main">Played Quizzes</h2>
      {% if g.user.plays %}
        <table class="results-table">
          <tr class="results-table__header-row">
            <td class="results-table__header-cell">title</td>
            <td class="results-table__header-cell">author</td>
            <td class="results-table__header-cell">result</td>
            <td class="results-table__header-cell">server time</td>
          </tr>
          {% for play in g.user.plays %}
            <tr class="results-table__row results-table__row_{{ loop.cycle('odd', 'even') }}">
              <td class="results-table__cell">{{ play.quiz.topic }}</td>
              <td class="results-table__cell">{{ play.quiz.author.name }}</td>
              <td class="results-table__cell">{{ play.result }}</td>
              <td class="results-table__cell">{{ play.get_server_time() }}</td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>You haven't played any quizzes yet.</p>
      {% endif %}
    {% endif %}
  </section>
  <section class="my_lg">
    <h2 class="item-header item-header_main">Available Quizzes</h2>
    <ul class="list">
    {% for quiz in quizzes_available %}
      <a class="list__item-link" href="{{ url_for('plays.take_quiz', quiz_id=quiz.id) }}">
        <li class="list__item">
          <div class="list__text-primary">{{ quiz.topic }}</div>
          <div class="list__text-secondary">[by {{ quiz.author.name }}]</div>
        </li>
      </a>
    {% endfor %}
    </ul>
  </section>
{% endblock %}
