{% extends 'base.html' %}

{% block title %}Review Quiz{% endblock %}

{% block header %}
  {{
    render_header([
      ("Groups", url_for("groups.show_all")),
      (g.group.name, url_for("groups.show_single", group_id=g.group.id))
    ])
  }}
{% endblock %}

{% block content %}
  <div class="quiz-form">
    <div class="quiz-form__item">
      <div class="quiz-form__header">
        "{{ data.quiz_topic }}"
      </div>
    </div>

    {% for question in data.questions %}
      <div class='quiz-form__item quiz-form__item_outlined
          quiz-form__item_{% if question.answer.is_correct %}correct{% else %}wrong{% endif %}'>
        <div class="quiz-form__row">
          <div class='quiz-form__helper-text'>
            Question {{ question.number }}
          </div>
        </div>

        <div class="quiz-form__row">
          <div class='quiz-form__label'>
            {{ question.text }}
          </div>
        </div>

        <div class="quiz-form__row">
          <table>
            {% for option in question.options %}
              {% if option.is_correct %}
                <tr class="correct">
              {% elif (question.answer.option_id == option.id) %}
                <tr class="wrong">
              {% else %}
                <tr>
              {% endif %}
                <td class="pr_sm">
                  {% if option.is_correct and (question.answer.option_id == option.id) %}
                    [&#10003;]
                  {% elif (question.answer.option_id == option.id) %}
                    [X]
                  {% endif %}
                </td>
                <td>{{ option.text }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>

        <div class="quiz-form__row">
          {{ question.comment or "" }}
        </div>

      </div>
    {% endfor %}
  </div>
{% endblock %}
