{% extends 'base.html' %}

{% block header %}{% block title %}Your Quizzes{% endblock %}{% endblock %}

{% block content %}
  {% if g.user %}
    <a href="{{ url_for('quiz.create') }}">
      <button class="button button_action my_md">New Quiz</button>
    </a>
  {% endif %}
  <ul class="list">
  {% for quiz in your_quizzes %}
    <a class="list__item-link" href="{{ url_for('quiz.update', quiz_id=quiz.id) }}">
      <li class="list__item">
        <div class="list__text-primary">{{ quiz.topic }}</div>
        <div class="list__text-secondary my_sm">
          {% if quiz.is_finalized %}
            {% if quiz.updated %}
              {{ quiz.updated.strftime('%Y-%m-%d') }}
            {% else %}
              {{ quiz.created.strftime('%Y-%m-%d') }}
            {% endif %}
          {% else %}
            Not submitted yet.
            {% if quiz.updated %}
              <span>last updated at {{ quiz.updated.strftime('%Y-%m-%d') }}</span>
            {% endif %}
          {% endif %}
        </div>
      </li>
    </a>
  {% endfor %}
  </ul>
{% endblock %}
